<!--footer start-->
@*<footer class="site-footer" style="margin-top: 16%;">
    <div class="text-center">
        <p>
            &copy; Copyrights <strong>Banswara syntex Ltd</strong>. All Rights Reserved
        </p>
    </div>
</footer>*@
<!--footer end-->
