
@{
    ViewBag.Title = "Bundle";
}

@{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            Fn_AutoComplete_Textbox("txtStyleCode", "OrderMaster", "StyleCode");


            $('#txtStyleCode').focusout(function () {
                var strCriteria = " AND StyleCode ='" + $("#txtStyleCode").val() + "'";
                Fn_Fill_DropdownList("ddlOrderNo", "OrderMaster", "OrderNo", "ID", strCriteria);
            });


            $("#tbodyModelSize").on('click', '.btnSource', function () {

                // get the current row
                var row = $(this).closest("tr");

                // get tds and inputs from that row
                var tds = row.find('td');
                var inputs = row.find('input[type="text"]');

                var clsBundleSize = {};
                clsBundleSize.CreatedBy = sessionStorage.getItem("LogInID");
                clsBundleSize.LayID = $("#hdnLayID").val();
                clsBundleSize.SizeID = $(tds[0]).text().trim();
                clsBundleSize.SizeName = $(tds[1]).text().trim();
                clsBundleSize.Freq = $(inputs[0]).val();
                debugger;
                if (clsBundleSize.SizeName == "") {
                    Swal.fire({ title: "", text: "Please Select Size", icon: "error" });
                }
                else if (clsBundleSize.Freq == "") {
                    Swal.fire({ title: "", text: "Please Enter Freq", icon: "error" });
                }
                else {
                    $.ajax({
                        type: "POST",
                        url: '/Production/Fn_Insert_Bundle_Size',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: JSON.stringify(clsBundleSize),
                        success: function (data) {
                            var obj = JSON.parse(data.message);
                            if (obj.vErrorMsg == "Success") {
                                 Swal.fire({ title: "", text: "Layer Added Successfully.", icon: "success" });
                                Fn_Get_Bundle_Size();
                            }
                            else {
                                Swal.fire({ title: "", text: obj.vErrorMsg, icon: "error" });
                            }
                        },
                        error: function (err) {
                            Swal.fire({ title: "", text: err, icon: "error" });
                        }
                    });
                }



            });


        });

        function Fn_AutoComplete_Textbox(txtName, strTBLName, strFieldName) {
            var clsRequestDropdown = {};
            clsRequestDropdown.vFieldName = strFieldName;
            clsRequestDropdown.vTBLName = strTBLName;

            $("#" + txtName).autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/Production/Fn_AutoComplete_Textbox',
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term, strTBLName: strTBLName, strFieldName: strFieldName },
                        success: function (data) {
                            var obj = JSON.parse(data.message);
                            response($.map(obj, function (item) {
                                return { label: item.SearchKeyword, value: item.SearchKeyword };
                            }));
                        }
                    });
                },
                select: function (event, ui) {
                    var str = ui.item.value;
                }
            });
        }

        function Fn_Fill_DropdownList(ddlName, strTBLName, strFieldName, strValueField, strCriteria) {
            var clsRequestDropdown = {};
            clsRequestDropdown.vFieldName = strFieldName;
            clsRequestDropdown.vValueField = strValueField;
            clsRequestDropdown.vTBLName = strTBLName;
            clsRequestDropdown.vCriteria = strCriteria;
            $("#" + ddlName).html('');
            var dropdown = ''; var dropdown1 = "";
            dropdown1 = "<option value='0'>--Select--</option>";
            $("#" + ddlName).append(dropdown1);
            $.ajax({
                type: "POST",
                url: '/Home/Fn_Fill_DropdownList',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(clsRequestDropdown),
                success: function (data) {
                    var obj = JSON.parse(data.message);
                    for (var i = 0; i < obj.length; i++) {
                        if (strValueField == "") {
                            dropdown += "<option value='" + obj[i].vFieldName + "'>" + obj[i].vFieldName + "</option>";
                        }
                        else {
                            dropdown += "<option value='" + obj[i].vValueField + "'>" + obj[i].vFieldName + "</option>";
                        }

                    }
                    $("#" + ddlName).append(dropdown);
                },
                error: function (err) {
                    alert(err);
                }
            });
        }

        $(document).on("click", '.deleteLayrow', function () {
            $(this).closest('tr').remove();
        });

        function Fn_Insert_Bundle_Layer() {

            var clsBundleLayerMaster = {};
            clsBundleLayerMaster.CreatedBy = sessionStorage.getItem("LogInID");
            clsBundleLayerMaster.StyleCode = $("#txtStyleCode").val();
            // clsBundleLayerMaster.OrderNo = $("#ddlOrderNo").val();
            clsBundleLayerMaster.OrderNo = $("#ddlOrderNo option:selected").text();
            clsBundleLayerMaster.Marker = $("#ddlMarker").val();
            if (clsBundleLayerMaster.StyleCode == "") {

            }
            else if (clsBundleLayerMaster.OrderNo == "0") {

            }
            else if (clsBundleLayerMaster.Marker == "0") {

            }
            else {
                $.ajax({
                    type: "POST",
                    url: '/Production/Fn_Insert_Bundle_Layer',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(clsBundleLayerMaster),
                    success: function (data) {
                        var obj = JSON.parse(data.message);
                        if (obj.vErrorMsg == "Success") {
                            // Swal.fire({ title: "", text: "Layer Added Successfully.", icon: "success" });
                            Fn_Get_Bundle_Layer();
                        }
                        else {
                            Swal.fire({ title: "", text: obj.vErrorMsg, icon: "error" });
                        }
                    },
                    error: function (err) {
                        Swal.fire({ title: "", text: err, icon: "error" });
                    }
                });
            }

        }

        function Fn_Delete_Bundle_Layer(Layid) {
            var clsBundleLayerMaster = {};
            clsBundleLayerMaster.LayID = Layid;
            clsBundleLayerMaster.CreatedBy = sessionStorage.getItem("LogInID");

            if (clsBundleLayerMaster.LayID == "") {

            }
            else {
                $.ajax({
                    type: "POST",
                    url: '/Production/Fn_Delete_Bundle_Layer',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(clsBundleLayerMaster),
                    success: function (data) {
                        var obj = JSON.parse(data.message);
                        if (obj.vErrorMsg == "Success") {
                            Swal.fire({ title: "", text: "Layer Deleted Successfully.", icon: "success" });
                            Fn_Get_Bundle_Layer();
                        }
                        else {
                            Swal.fire({ title: "", text: obj.vErrorMsg, icon: "error" });
                        }
                    },
                    error: function (err) {
                        Swal.fire({ title: "", text: err, icon: "error" });
                    }
                });
            }

        }

        function Fn_Get_Bundle_Layer() {


            var clsBundleLayerMaster = {};
            clsBundleLayerMaster.CreatedBy = sessionStorage.getItem("LogInID");
            clsBundleLayerMaster.StyleCode = $("#txtStyleCode").val();
            // clsBundleLayerMaster.OrderNo = $("#ddlOrderNo").val();
            clsBundleLayerMaster.OrderNo = $("#ddlOrderNo option:selected").text();
            clsBundleLayerMaster.Marker = $("#ddlMarker").val();

            $("#tbodyLay").html('');
            var html = '';

            if (clsBundleLayerMaster.StyleCode == "") {

            }
            else if (clsBundleLayerMaster.OrderNo == "0") {

            }
            else if (clsBundleLayerMaster.Marker == "0") {

            }
            else {
                $.ajax({
                    type: "POST",
                    url: "/Production/Fn_Get_Bundle_Layer",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(clsBundleLayerMaster),
                    success: function (data) {
                        var obj = JSON.parse(data.message);
                        if (obj[0].vErrorMsg == "Success") {
                            for (var i = 0; i < obj.length; i++) {

                                html += "<tr class=' clstr tr_" + obj[i].LayID + "'>";
                                html += "<td><input type='text' id='txtLayId" + obj[i].LayID + "' value='" + obj[i].LayID + "' class='form-control' style='width: 50px;' readonly='readonly' onclick='Fn_Show_SizeSelection(" + obj[i].LayID + ");' /></td>";
                                html += "<td>" + obj[i].Qty + "</td>";
                                html += "<td><input type='text' id='txtLayLen" + obj[i].LayID + "' value='" + obj[i].BundleLen + "' class='form-control' style='width: 50px;' /></td>";
                                html += "<td><a href='javascript: void (0);' class='btn btn-xs btn-danger' style='margin-top: 5px;'> <i class='fa fa-trash' title='Delete Row' onclick='Fn_Delete_Bundle_Layer(" + obj[i].LayID + ");'></i></a>";
                                html += "</td>";
                                html += "</tr>";
                            }
                        }
                        else {
                            html += "<tr><td colspan='6' class='text-center'>" + obj[0].vErrorMsg + "</td></tr>";

                        }
                        $("#tbodyLay").prepend(html);

                    },
                    error: function (err) {
                        Swal.fire({ title: "", text: err, icon: "error" });

                    }
                });
            }

        }

        function Fn_Get_Order_SizeName() {

            
            var clsSizeMaster = {};
            clsSizeMaster.ID = $("#ddlOrderNo").val();
            
            var html = "";
            $("#tbodyModelSize").html("");

            $.ajax({
                type: "POST",
                url: "/Production/Fn_Get_Order_SizeName",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                data: JSON.stringify(clsSizeMaster),
                success: function (data) {

                    var obj = JSON.parse(data.message);
                    if (obj[0].vErrorMsg == "Success") {
                        for (var i = 0; i < obj.length; i++) {
                            html += "<tr>";
                            html += "<td>" + obj[i].ID + "</td>";
                            html += "<td>" + obj[i].SizeName + "</td>";
                            html += "<td><input type='test' id='txtFreq" + obj[i].ID + "' value='1' style='widht: 80px; text-align: right;' onkeypress='if (isNaN(String.fromCharCode(event.keyCode))) return false;' /></td>";
                            html += "<td><a href='javascript: void (0);' class='btnSource'>Select</a></td>";
                            html += "</tr>";
                        }
                    }
                    else {
                        html += "<tr><td colspan='4' class='text-center'>" + obj[0].vErrorMsg + "</td></tr>";
                    }
                    $("#tbodyModelSize").append(html);
                },
                error: function (err) {
                    alert(err);
                }
            });
        }

        function Fn_Show_SizeSelection(strSearch) {
            $('.clstr').removeClass('highlight');
            $(".tr_" + strSearch).addClass('highlight');
            $("#hdnLayID").val(strSearch);

            $("#tblSize").show();
            Fn_Get_Order_SizeName();
        }

        ///////////////// Size selection //////////////////

        function Fn_Insert_Bundle_Size() {

            var clsBundleSize = {};
            clsBundleSize.CreatedBy = sessionStorage.getItem("LogInID");
            clsBundleSize.OrderNo = $("#ddlOrderNo option:selected").text();
            clsBundleSize.Marker = $("#ddlMarker").val();
            if (clsBundleSize.StyleCode == "") {

            }
            else if (clsBundleSize.OrderNo == "0") {

            }
            else if (clsBundleSize.Marker == "0") {

            }
            else {
                $.ajax({
                    type: "POST",
                    url: '/Production/Fn_Insert_Bundle_Size',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(clsBundleSize),
                    success: function (data) {
                        var obj = JSON.parse(data.message);
                        if (obj.vErrorMsg == "Success") {
                            // Swal.fire({ title: "", text: "Layer Added Successfully.", icon: "success" });
                            Fn_Get_Bundle_Layer();
                        }
                        else {
                            Swal.fire({ title: "", text: obj.vErrorMsg, icon: "error" });
                        }
                    },
                    error: function (err) {
                        Swal.fire({ title: "", text: err, icon: "error" });
                    }
                });
            }

        }

        function Fn_Delete_Bundle_Size(SizeSelectionID) {
            var clsBundleSize = {};
            clsBundleSize.SizeSelectionID = SizeSelectionID;
            clsBundleSize.CreatedBy = sessionStorage.getItem("LogInID");

            if (clsBundleSize.SizeSelectionID == "") {

            }
            else {
                $.ajax({
                    type: "POST",
                    url: '/Production/Fn_Delete_Bundle_Size',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(clsBundleSize),
                    success: function (data) {
                        var obj = JSON.parse(data.message);
                        if (obj.vErrorMsg == "Success") {
                            Swal.fire({ title: "", text: "Layer Deleted Successfully.", icon: "success" });
                            Fn_Get_Bundle_Size();
                        }
                        else {
                            Swal.fire({ title: "", text: obj.vErrorMsg, icon: "error" });
                        }
                    },
                    error: function (err) {
                        Swal.fire({ title: "", text: err, icon: "error" });
                    }
                });
            }

        }

        function Fn_Get_Bundle_Size() {


            var clsBundleSize = {};
            clsBundleSize.CreatedBy = sessionStorage.getItem("LogInID");
            clsBundleSize.LayID = $("#hdnLayID").val();

            $("#tbodySize").html('');
            var html = '';

            $.ajax({
                type: "POST",
                url: "/Production/Fn_Get_Bundle_Size",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(clsBundleSize),
                success: function (data) {
                    var obj = JSON.parse(data.message);
                    if (obj[0].vErrorMsg == "Success") {
                        for (var i = 0; i < obj.length; i++) {

                            html += "<tr class=' clstr tr_" + obj[i].SizeSelectionID + "'>";
                            html += "<td>" + obj[i].SizeName + "</td>";
                            html += "<td>" + obj[i].Freq + "</td>";
                            html += "<td><a href='javascript: void (0);' class='btn btn-xs btn-danger' style='margin-top: 5px;'> <i class='fa fa-trash' title='Delete Row' onclick='Fn_Delete_Bundle_Size(" + obj[i].SizeSelectionID + ");'></i></a>";
                            html += "</td>";
                            html += "</tr>";
                        }
                    }
                    else {
                        html += "<tr><td colspan='3' class='text-center'>" + obj[0].vErrorMsg + "</td></tr>";

                    }
                    $("#tbodySize").prepend(html);

                },
                error: function (err) {
                    Swal.fire({ title: "", text: err, icon: "error" });

                }
            });

        }

    </script>

    <style>
       
        .highlight {
            background-color: #ffeaa7;
            transition: background-color 0.3s ease;
        }
    </style>
}

<section id="main-content">
    <section class="wrapper">
        <div class="row page-titles mx-0">
            <div class="col-sm-8"><span><a href="@Url.Action("Dashboard", "Home")"><i class="fa fa-home"></i> Dashboard</a> </span> > <span id="spnHeading">View Operator</span></div>

            <div class="col-sm-4">
                <span id="spnView"><i class="btn btn-primary btn-xs pull-right fa fa-eye" onclick="Show_dvViewProcess();"></i></span>
                <span id="spnAdd" style="display: none;"><i class="btn btn-primary btn-xs pull-right fa fa-plus-circle" onclick="Fn_Show_dvAddProcess();"></i></span>
            </div>

        </div>

        <div class="row" style="margin-top: 1%;">
            <div class="col-xl-12 col-xxl-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">Style</label>
                                    <input type="text" id="txtStyleCode" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">Order No</label>
                                    <select id="ddlOrderNo" class="form-control">
                                        <option value="0">--Select Order No--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">Marker</label>
                                    <select id="ddlMarker" class="form-control" onchange="Fn_Get_Bundle_Layer();">
                                        <option value="0">--Select Marker--</option>
                                        <option value="SHELL FABRIC">SHELL FABRIC</option>
                                        <option value="LINING">LINING</option>
                                        <option value="INTER LINING">INTER LINING</option>
                                        <option value="FUSING">FUSING</option>
                                        <option value="CUTTING MARKER">CUTTING MARKER</option>
                                        <option value="TRS PACKING">TRS PACKING</option>
                                        <option value="TRS PRESSING">TRS PRESSING</option>
                                        <option value="JKT PACKING">JKT PACKING</option>
                                        <option value="TRS FINISHING">TRS FINISHING</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-2">
                                <button id="btnPrintBundle" class="btn btn-primary">Print Bundle</button>
                            </div>
                            <div class="col-sm-2">
                                <button id="btnPrintLay" class="btn btn-primary">Print Lay</button>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <span><b>Lay No</b></span>
                                        <input type="text" id="txtLayNo" onkeypress="if (isNaN(String.fromCharCode(event.keyCode))) return false;" class="form-control" style="width: 100px; text-align: right;" />
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <span>Comb.Size</span>
                                        <input type="checkbox" id="chkCombSize" />
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <span>Bun.Qty</span>
                                        <input type="text" id="txtBundleQty" onkeypress="if (isNaN(String.fromCharCode(event.keyCode))) return false;" class="form-control" style="width: 80px; text-align: right;" />
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-2">
                                <button id="btnCompile" class="btn btn-primary pull-right">Compile</button>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-4">

                                <table class="table table-responsive table-hover">
                                    <tr style="background-color: #E1C16E; background-image: linear-gradient(to bottom, #722F37, #DB5A6A); color: white;">
                                        <td>Compiled Qty :<span id="spnCompiledQty">0</span></td>
                                        <td>Com.Date</td>
                                        <td>Print.Date</td>
                                    </tr>
                                </table>

                                <table class="table table-responsive" id="tblLay">
                                    <thead>
                                        <tr style="background-color: #E1C16E; background-image: linear-gradient(to bottom, #722F37, #DB5A6A); color: white;">
                                            <td>Lay <a href="javascript: void(0)" style="color: #fff;"><i class="fa fa-plus-circle" onclick="Fn_Insert_Bundle_Layer();"></i></a></td>
                                            <td>Qty</td>
                                            <td>Len</td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody id="tbodyLay"></tbody>
                                </table>
                            </div>
                            <div class="col-sm-3">
                                <table class="table table-responsive-sm" id="tblSize">
                                    <thead>
                                        <tr style="background-color: #E1C16E; background-image: linear-gradient(to bottom, #722F37, #DB5A6A); color: white;">
                                            <td>Size</td>
                                            <td>Freq</td>
                                            <td><i class="fa fa-plus-circle" data-toggle="modal" data-target="#SizeModal"></i></td>
                                        </tr>
                                    </thead>
                                    <tbody id="tbodySize"></tbody>
                                </table>
                            </div>
                            <div class="col-sm-2">
                                <table class="table table-responsive-sm" id="tblColor">
                                    <thead>
                                        <tr style="background-color: #E1C16E; background-image: linear-gradient(to bottom, #722F37, #DB5A6A); color: white;">
                                            <td>Color</td>
                                            <td><i class="fa fa-plus-circle"></i></td>
                                        </tr>
                                    </thead>
                                    <tbody id="tbodyColor"></tbody>
                                </table>
                            </div>
                            <div class="col-sm-3">

                                <table class="table table-responsive-sm" id="tblShade" style="display: none;">
                                    <thead>
                                        <tr style="background-color: #E1C16E; background-image: linear-gradient(to bottom, #722F37, #DB5A6A); color: white;">
                                            <td>Shade</td>
                                            <td>Plies</td>
                                            <td><i class="fa fa-plus-circle"></i></td>
                                            <td><button id="btnCheck" class="btn btn-success btn-sm">Check</button></td>
                                        </tr>
                                    </thead>
                                    <tbody id="tbodyShade"></tbody>
                                </table>
                            </div>
                        </div>

                        <div class="row" style="display: none;">
                            <div class="table-responsive">
                                <table class="table table-striped table-responsive-sm" id="tblOPList">
                                    <thead>
                                        <tr style="background-color: #E1C16E; background-image: linear-gradient(to bottom, #722F37, #DB5A6A); color: white;">
                                            <th>BundleID</th>
                                            <th>BundleNo</th>
                                            <th>Size</th>
                                            <th>Color</th>
                                            <th>Shade</th>
                                            <th>Qty</th>
                                            <th>PlyFrom</th>
                                            <th>PlyTo</th>
                                            <th>LotNo</th>
                                            <th>SubSection</th>
                                            <th>Dispatch</th>
                                            <th><button id="btnCheck" class="btn btn-success btn-sm">Check</button></th>


                                        </tr>
                                    </thead>
                                    <tbody id="tbodyBundleList"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 1%; display: none;" id="dvViewProcess">

            <div class="col-xl-12 col-xxl-12 col-sm-12">

            </div>
        </div>

    </section>
</section>
<input type="hidden" id="hdnLayID" value="" />

<!-- Season -->
<div id="SizeModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-sm-10">
                        <h4 class="modal-title">Size Selection</h4>
                    </div>

                    <div class="col-sm-2">
                        <button type="button" class="close" style="color:#fff;" data-dismiss="modal">&times;</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered table-responsive" id="tbl_SourceSize">
                            <thead>
                                <tr style="background-color: #E1C16E; background-image: linear-gradient(to bottom, #722F37, #DB5A6A); color: white;">
                                    <th>ID</th>
                                    <th>Size</th>
                                    <td>Freq</td>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyModelSize"></tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!--End Season -->
