
@{
    ViewBag.Title = "Operation";
}


@{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            Fn_AutoComplete_Textbox("txtStyleCode", "StyleMaster", "StyleCode");
            Fn_Fill_DropdownList("ddlProcessName", "ProcessMaster", "ProcessName", "ID", "");

            Fn_Get_Operation_BreackdownFile();

        });

        function Fn_AutoComplete_Textbox(txtName, strTBLName, strFieldName) {
            var clsRequestDropdown = {};
            clsRequestDropdown.vFieldName = strFieldName;
            clsRequestDropdown.vTBLName = strTBLName;

            $("#" + txtName).autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/Production/Fn_AutoComplete_Textbox',
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term, strTBLName: strTBLName, strFieldName: strFieldName },
                        success: function (data) {
                            var obj = JSON.parse(data.message);
                            response($.map(obj, function (item) {
                                return { label: item.SearchKeyword, value: item.SearchKeyword };
                            }));
                        }
                    });
                },
                select: function (event, ui) {
                    var str = ui.item.value;
                }
            });
        }

        function Fn_Fill_DropdownList(ddlName, strTBLName, strFieldName, strValueField, strCriteria) {
            var clsRequestDropdown = {};
            clsRequestDropdown.vFieldName = strFieldName;
            clsRequestDropdown.vValueField = strValueField;
            clsRequestDropdown.vTBLName = strTBLName;
            clsRequestDropdown.vCriteria = strCriteria;
            $("#" + ddlName).html('');
            var dropdown = ''; var dropdown1 = "";
            dropdown1 = "<option value='0'>--Select--</option>";
            $("#" + ddlName).append(dropdown1);
            $.ajax({
                type: "POST",
                url: '/Home/Fn_Fill_DropdownList',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(clsRequestDropdown),
                success: function (data) {
                    var obj = JSON.parse(data.message);
                    for (var i = 0; i < obj.length; i++) {
                        if (strValueField == "") {
                            dropdown += "<option value='" + obj[i].vFieldName + "'>" + obj[i].vFieldName + "</option>";
                        }
                        else {
                            dropdown += "<option value='" + obj[i].vValueField + "'>" + obj[i].vFieldName + "</option>";
                        }

                    }
                    $("#" + ddlName).append(dropdown);
                },
                error: function (err) {
                    alert(err);
                }
            });
        }

        function Fn_Upload_Operation_BreackdownFile() {

            var clsOPBreackDownMaster = {};
            clsOPBreackDownMaster.CreatedBy = sessionStorage.getItem("LogInID");
            clsOPBreackDownMaster.StyleCode = $("#txtStyleCode").val();
           // clsOPBreackDownMaster.ProcessName = $("#ddlProcessName").val();
            clsOPBreackDownMaster.ProcessName = $("#ddlProcessName option:selected").text();

            let formData = new FormData();
            let file = $("#fileEmpUploadExcel").get(0).files[0];

            formData.append("file", file);
            formData.append("CreatedBy", clsOPBreackDownMaster.CreatedBy);
            formData.append("StyleCode", clsOPBreackDownMaster.StyleCode);
            formData.append("ProcessName", clsOPBreackDownMaster.ProcessName);

            if (!file) {
                Swal.fire({ title: "", text: "Please upload opeartion file", icon: "error" });
            }
            else if (clsOPBreackDownMaster.StyleCode == "") {
                Swal.fire({ title: "", text: "Please Enter Style Code", icon: "error" });
            }
            else if (clsOPBreackDownMaster.ProcessName == "0") {
                Swal.fire({ title: "", text: "Please select Process Name", icon: "error" });
            }
            else {
                $.ajax({
                    type: "POST",
                    url: "/Order/Fn_Upload_Operation_BreackdownFile",
                    data: formData,
                    processData: false,
                    contentType: false,
                    beforeSend: function () {
                        $('#btnUpload').attr('disabled', 'disabled');
                    },
                    success: function (data) {
                        var obj = JSON.parse(data.message);
                        if (obj.vErrorMsg == "Success") {
                            
                            Swal.fire({ title: "", text: "Operation file uploaded successfully", icon: "success" });
                            const EmpDataExcelFile = document.getElementById('fileEmpUploadExcel');
                            EmpDataExcelFile.value = '';
                            Fn_Get_Operation_BreackdownFile();
                        }
                        else {
                            Swal.fire({ title: "", text: obj.vErrorMsg, icon: "error" });
                        }

                    },
                    complete: function (data) {
                        $('#btnUpload').removeAttr('disabled');
                    },
                    error: function (err) {
                        alert(err);
                    }
                });
            }

        }


        function Fn_ResetFields() {
            const EmpDataExcelFile = document.getElementById('fileEmpUploadExcel');
            EmpDataExcelFile.value = '';
            $("#txtStyleCode").val("");
            $("#ddlProcessName").val("0");
        }       

        function Fn_Downlod_Operation_Template_ExcelFile() {
            window.open('/DOC/Operation Sequence.xlsx', '_blank');
        }

        function Fn_Get_Operation_BreackdownFile() {
            var clsOPBreackDownMaster = {};
            clsOPBreackDownMaster.CreatedBy = sessionStorage.getItem("LogInID");
            clsOPBreackDownMaster.StyleCode = $("#txtStyleCode").val();
            clsOPBreackDownMaster.ProcessName = $("#ddlProcessName option:selected").text();
            debugger;
            $("#tbodyList").html('');
            var html = '';

            $.ajax({
                type: "POST",
                url: "/Order/Fn_Get_Operation_BreackdownFile",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(clsOPBreackDownMaster),
                success: function (data) {
                    var obj = JSON.parse(data.message);
                    if (obj[0].vErrorMsg == "Success") {
                        for (var i = 0; i < obj.length; i++) {

                            html += "<tr>";
                            html += "<td>" + obj[i].SeqNo + "</td>";
                            html += "<td>" + obj[i].Descriptions + "</td>";
                            html += "<td>" + obj[i].StdMin + "</td>";
                            html += "<td>" + obj[i].OpNo + "</td>";
                            html += "<td>" + obj[i].Machine + "</td>";
                            html += "<td>" + obj[i].SubSection + "</td>";
                            html += "<td>" + obj[i].ProgressPoint + "</td>";
                            html += "<td>" + obj[i].IsDispatch + "</td>";
                            html += "<td>" + obj[i].IsDirect + "</td>";
                            html += "<td>" + obj[i].DependOPNO + "</td>";
                            html += "<td>" + obj[i].IsDS + "</td>";
                            html += "<td>";
                            html += "<a href='javascript: void (0);' class='btn btn-xs btn-info'><i class='fa fa-edit' onclick='Fn_Edit_Process(" + obj[i].DetailID + ")'></i></a>";
                            html += "&nbsp;&nbsp;<a href='javascript: void (0);' class='btn btn-xs sharp btn-danger'><i class='fa fa-trash' onclick=\"Fn_Delete_Process('" + obj[i].DetailID + "')\"></i></a>";
                            html += "</td>";
                            html += "</tr>";
                        }
                      //  $("#tblOPList").show();
                    }
                    else {
                        html += "<tr><td colspan='12' class='text-center'>" + obj[0].vErrorMsg + "</td></tr>";
                       // $("#tblOPList").hide();
                    }
                    $("#tbodyList").append(html);

                },
                error: function (err) {
                    Swal.fire({ title: "", text: err, icon: "error" });

                }
            });
        }

    </script>
}

<section id="main-content">
    <section class="wrapper">
        <div class="row page-titles mx-0">
            <div class="col-sm-8"><span><a href="@Url.Action("Dashboard", "Home")"><i class="fa fa-home"></i> Dashboard</a> </span> > <span id="spnHeading">View Operator</span></div>

            <div class="col-sm-4">
                <span id="spnView"><i class="btn btn-primary btn-xs pull-right fa fa-eye" onclick="Show_dvViewProcess();"></i></span>
                <span id="spnAdd" style="display: none;"><i class="btn btn-primary btn-xs pull-right fa fa-plus-circle" onclick="Fn_Show_dvAddProcess();"></i></span>
            </div>

        </div>

        <div class="row" style="margin-top: 1%;">
            <div class="col-xl-12 col-xxl-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="form-label">Style</label>
                                    <input type="text" id="txtStyleCode" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="form-label">Process</label>
                                    <select id="ddlProcessName" class="form-control" onchange="Fn_Get_Operation_BreackdownFile();">
                                        <option value="0">--Select Process</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="form-label">File Upload</label>
                                <div class="form-inline">
                                    <div class="form-group">
                                        <input type="file" id="fileEmpUploadExcel" name="fileEmpUploadExcel" accept=".xlsx,.xls" class="form-control">
                                        <button id="btnUpload" class="btn btn-success" title="Upload File"><i class="fa fa-upload" onclick="Fn_Upload_Operation_BreackdownFile();"></i></button>
                                        <button id="btnDownload" class="btn btn-success" title="Download File"><i class="fa fa-download" onclick="Fn_Downlod_Operation_Template_ExcelFile();"></i></button>
                                        
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table table-striped table-responsive-sm" id="tblOPList">
                                    <thead>
                                        <tr style="background-color: #E1C16E; background-image: linear-gradient(to bottom, #722F37, #DB5A6A); color: white;">
                                            <th>SeqNo</th>
                                            <th>Description</th>
                                            <th>StdMin</th>
                                            <th>OpNo</th>
                                            <th>Machine</th>
                                            <th>SubSection</th>
                                            <th>Prog.Point</th>
                                            <th>IsDispatch</th>
                                            <th>Direct</th>
                                            <th>Depend.OPNO</th>
                                            <th>IsDS</th>
                                            <th>Action</th>
                                            @*<th>Rate</th>
                                                <th>Product</th>
                                                <th>Skill</th>
                                                <th>Grade</th>
                                                <th>Folder</th>
                                                <th>Seamlength</th>*@

                                        </tr>
                                    </thead>
                                    <tbody id="tbodyList"></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 1%; display: none;" id="dvViewProcess">

            <div class="col-xl-12 col-xxl-12 col-sm-12">

            </div>
        </div>

    </section>
</section>

