@{
    ViewBag.Title = "ProductionOrder";
}

@{
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>

<link href="~/web/css/select2.min.css" rel="stylesheet" />
<script type="text/javascript">

    $(document).ready(function () {

        Fn_AutoComplete_Textbox("txtSize", "EmployeeDetail", "EmpName");
        Fn_AutoComplete_Textbox("txtTo", "DivisionMaster", "Division");

        //$("#txtSize").autocomplete({
        //    source: function (request, response) {
        //        $.ajax({
        //            url: '/Production/Fn_AutoComplete_Textbox',
        //            type: "POST",
        //            dataType: "json",
        //            data: { Prefix: request.term, strTBLName: 'EmployeeDetail', strFieldName: 'EmpName' },
        //            success: function (data) {
        //                var obj = JSON.parse(data.message);
        //                debugger;
        //                response($.map(obj, function (item) {
        //                    return { label: item.SearchKeyword, value: item.SearchKeyword };
        //                }));
        //            }
        //        });
        //    },
        //    select: function (event, ui) {
        //        var str = ui.item.value;
        //    }
        //});

    });



    function Fn_Fill_DropdownList(ddlName, strTBLName, strFieldName, strValueField, strCriteria) {
        var clsRequestDropdown = {};
        clsRequestDropdown.vFieldName = strFieldName;
        clsRequestDropdown.vValueField = strValueField;
        clsRequestDropdown.vTBLName = strTBLName;
        clsRequestDropdown.vCriteria = strCriteria;
        $("#" + ddlName).html('');
        var dropdown = ''; var dropdown1 = "";
        if (ddlName == "ddlEmpId") {
            dropdown1 = "<option value='0'>--Self--</option>";
        }
        else {
            dropdown1 = "<option value='0'>--Select--</option>";
        }
        $("#" + ddlName).append(dropdown1);
        $.ajax({
            type: "POST",
            url: '/Home/Fn_Fill_DropdownList',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(clsRequestDropdown),
            success: function (data) {
                var obj = JSON.parse(data.message);
                for (var i = 0; i < obj.length; i++) {
                    if (ddlName == "ddlEmpId") {
                        dropdown += "<option value='" + obj[i].vValueField + "'>" + obj[i].vFieldName + "(" + obj[i].vValueField + ")</option>";
                    }
                    else {
                        dropdown += "<option value='" + obj[i].vValueField + "'>" + obj[i].vFieldName + "</option>";
                    }

                }
                $("#" + ddlName).append(dropdown);
            },
            error: function (err) {
                alert(err);
            }
        });
    }

    /////////////////////////////////////////////////

    function Fn_AutoComplete_Textbox(txtName, strTBLName, strFieldName) {
        var clsRequestDropdown = {};
        clsRequestDropdown.vFieldName = strFieldName;
        clsRequestDropdown.vTBLName = strTBLName;

        $("#" + txtName).autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '/Production/Fn_AutoComplete_Textbox',
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term, strTBLName: strTBLName, strFieldName: strFieldName },
                    success: function (data) {
                        var obj = JSON.parse(data.message)
                        response($.map(obj, function (item) {
                            return { label: item.SearchKeyword, value: item.SearchKeyword };
                        }));
                    }
                });
            },
            select: function (event, ui) {
                var str = ui.item.value;
            }
        });
    }


    function Fn_Insert_Production_Order() {


        var clsProductionMaster = {};

        clsProductionMaster.ProductionOrderNo = $("#txtProductionOrderNo").val();
        clsProductionMaster.OrderDate = $("#txtOrderDate").val();
        clsProductionMaster.ProductionDeliveryDate = $("#txtProductionDeliveryDate").val();
        clsProductionMaster.Merchandiser = $("#txtMerchandiser").val();
        clsProductionMaster.SalesOrderNo = $("#txtSalesOrderNo").val();
        clsProductionMaster.PONo = $("#txtPONo").val();
        clsProductionMaster.FabIndNo = $("#txtFabIndNo").val();
        clsProductionMaster.OrderQty = $("#txtOrderQty").val();
        clsProductionMaster.StyleNo = $("#txtStyleNo").val();
        clsProductionMaster.StyleName = $("#txtStyleName").val();
        clsProductionMaster.Buyer = $("#txtBuyer").val();
        clsProductionMaster.Brand = $("#txtBrand").val();
        clsProductionMaster.PlantName = $("#txtTo").val();
        clsProductionMaster.CreatedBy = sessionStorage.getItem("LogInID");

        var clsProductionDetail = [];

        var arraysTR = [];
        $('#tbodyList').eq(0).find('tr').each((r, row) => arraysTR.push($(row).find('td').map((c, cell) => $(cell).text()).toArray()))

        for (var i = 0; i < arraysTR.length; i++) {
            var _list =
            {
                ShadeNo: arraysTR[i][0], QualityNo: arraysTR[i][1], Color: arraysTR[i][2],
                SizeName: arraysTR[i][3], Qty: arraysTR[i][4]

            }
            clsProductionDetail.push(_list);

        }
        clsProductionMaster._ODetail = clsProductionDetail;

        if (clsProductionMaster.PlantName == "") {
            Swal.fire({ title: "", text: "Please Enter PlantName", icon: "error" });
        }
        else if (clsProductionMaster.ProductionOrderNo == 0 || clsProductionMaster.ProductionOrderNo == null) {
            Swal.fire({ title: "", text: "Please Enter Production Order No", icon: "error" });
        }
        else if (clsProductionMaster.OrderDate == "") {
            Swal.fire({ title: "", text: "Please Enter OrderDate", icon: "error" });
        }
        else if (clsProductionMaster.Merchandiser == "") {
            Swal.fire({ title: "", text: "Please Enter Merchandiser", icon: "error" });
        }
        else if (clsProductionMaster.SalesOrderNo == "") {
            Swal.fire({ title: "", text: "Please Enter Sales Order No", icon: "error" });
        }
        else if (clsProductionMaster.PONo == "") {
            Swal.fire({ title: "", text: "Please Enter PONo", icon: "error" });
        }
        else if (clsProductionMaster.OrderQty == "") {
            Swal.fire({ title: "", text: "Please Enter Order Qty", icon: "error" });
        }
        else if (clsProductionMaster.StyleNo == "") {
            Swal.fire({ title: "", text: "Please Enter StyleNo", icon: "error" });
        }
        else if (clsProductionMaster.StyleName == "") {
            Swal.fire({ title: "", text: "Please Enter StyleName", icon: "error" });
        }
        else if (clsProductionMaster.Buyer == "") {
            Swal.fire({ title: "", text: "Please Enter Buyer", icon: "error" });
        }
        else if (clsProductionMaster.Brand == "") {
            Swal.fire({ title: "", text: "Please Enter Brand", icon: "error" });
        }
        else if (clsProductionMaster._ODetail.length == 0 ) { 
            Swal.fire({ title: "", text: "Please Enter atlist one detail list", icon: "error" });
        }
        else {
            $.ajax({
                type: "POST",
                url: '/Production/Fn_Insert_Production_Order',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(clsProductionMaster),
                beforeSend: function () {
                    $('#btnSubmit').attr('disabled', 'disabled');
                },
                success: function (data) {
                    var obj = JSON.parse(data.message);
                    if (obj.vErrorMsg == "Success") {
                        Swal.fire({ title: "", text: "Order save successfully", icon: "success" });
                        Fn_Reset_Control();
                    }
                    else {
                        Swal.fire({ title: "", text: obj.vErrorMsg, icon: "error" });
                    }

                },
                complete: function (data) {
                    $('#btnSubmit').removeAttr('disabled');
                },
                error: function (err) {
                    // alert(err);
                    Swal.fire({ title: "", text: err, icon: "error" });
                }
            });
        }
    }

    function Fn_Reset_Control()
    {
        $("#txtProductionOrderNo").val("");
        $("#txtOrderDate").val();
        $("#txtProductionDeliveryDate").val("");
        $("#txtMerchandiser").val("");
        $("#txtSalesOrderNo").val("");
        $("#txtPONo").val("");
        $("#txtFabIndNo").val("");
        $("#txtOrderQty").val("");
        $("#txtStyleNo").val("");
        $("#txtStyleName").val("");
        $("#txtBuyer").val("");
        $("#txtBrand").val("");
        $("#txtTo").val("");

        $("#tbodyList").html('');

        $("#txtShadeNo").val("");
        $("#txtQualityNo").val("");
        $("#txtColor").val("");
        $("#txtSize").val("");
        $("#txtQty").val("");
    }

</script>


}

<section id="main-content">
    <section class="wrapper">
        <div class="row page-titles mx-0">
            <div class="col-sm-4"><span><a href="@Url.Action(" Dashboard", "Home" )"><i class="fa fa-home"></i> Dashboard</a> </span> ></div>
            <div class="col-sm-4">
                <span><i class="fa fa-plus-circle fa-2x" onclick="Fn_Show_dvAddOrder();"></i></span>
            </div>
            <div class="col-sm-4">
                <span><i class="fa fa-eye fa-2x" onclick="Show_dvViewOrder();"></i></span>
            </div>

        </div>

        <div class="row" style="margin-top: 1%;" id="dvAddOrder">
            <div class="col-xl-12 col-xxl-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="form-label">To</label>
                                    <input type="text" id="txtTo" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="form-label">Production Order No.</label>
                                    <input type="text" id="txtProductionOrderNo" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="form-label">Order Date</label>
                                    <input type="text" id="txtOrderDate" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="form-label">Prod. Delivery Date</label>
                                    <input type="text" id="txtProductionDeliveryDate" class="form-control" />
                                </div>
                            </div>
                            <div class="col col-sm-2">
                                <div class="form-group">
                                    <label class="form-label">Merchandiser</label>
                                    <input type="text" id="txtMerchandiser" class="form-control" />
                                </div>
                            </div>
                            <div class="col col-sm-2">
                                <div class="form-group">
                                    <label class="form-label">Sales Order No</label>
                                    <input type="text" id="txtSalesOrderNo" class="form-control" />
                                </div>
                            </div>
                            <div class="col col-sm-2">
                                <div class="form-group">
                                    <label class="form-label">P.O. No</label>
                                    <input type="text" id="txtPONo" class="form-control" />
                                </div>
                            </div>
                            <div class="col col-sm-2">
                                <div class="form-group">
                                    <label class="form-label">Fab Ind No</label>
                                    <input type="text" id="txtFabIndNo" class="form-control" />
                                </div>
                            </div>
                            <div class="col col-sm-2">
                                <div class="form-group">
                                    <label class="form-label">Order Qty</label>
                                    <input type="text" id="txtOrderQty" class="form-control" />
                                </div>
                            </div>
                            <div class="col col-sm-2">
                                <div class="form-group">
                                    <label class="form-label">Style No</label>
                                    <input type="text" id="txtStyleNo" class="form-control" />
                                </div>
                            </div>
                            <div class="col col-sm-2">
                                <div class="form-group">
                                    <label class="form-label">Style Name</label>
                                    <input type="text" id="txtStyleName" class="form-control" />
                                </div>
                            </div>
                            <div class="col col-sm-2">
                                <div class="form-group">
                                    <label class="form-label">Buyer</label>
                                    <input type="text" id="txtBuyer" class="form-control" />
                                </div>
                            </div>
                            <div class="col col-sm-2">
                                <div class="form-group">
                                    <label class="form-label">Brand</label>
                                    <input type="text" id="txtBrand" class="form-control" />
                                </div>
                            </div>

                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="form-label">Shade No</label>
                                    <input type="text" id="txtShadeNo" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="form-label">Quality No</label>
                                    <input type="text" id="txtQualityNo" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="form-label">Color</label>
                                    <input type="text" id="txtColor" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="form-label">Size</label>
                                    <input type="text" id="txtSize" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="form-label">Qty</label>
                                    <input type="text" id="txtQty" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <a href="javascript:void(0);" onclick="Fn_Add_List();" class="btn btn-primary" style="margin-top: 20px;">Add</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-12 col-xxl-12 col-sm-12">
                                <div class="table-responsive">
                                    <table class="table table-striped table-responsive-sm">
                                        <thead>
                                            <tr style="background-color: #E1C16E; background-image: linear-gradient(to bottom, #722F37, #DB5A6A); color: white;">
                                                <td>Shade No</td>
                                                <td>Quality No</td>
                                                <td>Color</td>
                                                <td>Size</td>
                                                <td>Qty</td>
                                                <td>Action</td>
                                            </tr>
                                        </thead>
                                        <tbody id="tbodyList"></tbody>
                                    </table>
                                </div>

                                <script>
                                    $(document).on("click", '.delete', function () {
                                        $(this).closest('tr').remove();
                                    });

                                    $("#txtQty").keyup(function (e) {
                                        if (e.which == 13) {

                                            Fn_Add_List();
                                        }
                                        else {
                                            //  Do whatever you like
                                        }
                                        e.preventDefault();
                                    });

                                    function Fn_Add_List() {

                                        var p = $("#txtTRAmount").val();

                                        var tds = $("#tbodyList").find(".scancode");
                                        var isContains = false;
                                        for (var i = 0; i < tds.length; i++) {
                                            var td = tds[i];
                                            if (td.innerText == p) {
                                                isContains = true;
                                                break;
                                            }
                                        }
                                        if (isContains) {

                                            Swal.fire({ title: "", text: "Already Exist", icon: "error" });

                                            return;
                                        }
                                        else {

                                            var clsProductionDetail = {};
                                            var html = '';
                                            clsProductionDetail.ShadeNo = $("#txtShadeNo").val();
                                            clsProductionDetail.QualityNo = $("#txtQualityNo").val();
                                            clsProductionDetail.Color = $("#txtColor").val();
                                            clsProductionDetail.SizeName = $("#txtSize").val();
                                            clsProductionDetail.Qty = $("#txtQty").val();

                                            if (clsProductionDetail.ShadeNo == "") {
                                                Swal.fire({ title: "", text: "Please Enter Shade No", icon: "error" });
                                            }
                                            else if (clsProductionDetail.QualityNo == "") {
                                                Swal.fire({ title: "", text: "Please Enter Quality No", icon: "error" });
                                            }
                                            else if (clsProductionDetail.Color == "") {
                                                Swal.fire({ title: "", text: "Please Enter Color", icon: "error" });
                                            }
                                            else if (clsProductionDetail.SizeName == "") {
                                                Swal.fire({ title: "", text: "Please Enter Size", icon: "error" });
                                            }
                                            else if (clsProductionDetail.Qty == "") {
                                                Swal.fire({ title: "", text: "Please Enter Quantity", icon: "error" });
                                            }
                                            else {
                                                html += "<tr><td class='scancode'>" + clsProductionDetail.ShadeNo + "</td><td class='scancode'>" + clsProductionDetail.QualityNo + "</td>";
                                                html += "<td >" + clsProductionDetail.Color + "</td><td>" + clsProductionDetail.SizeName + "</td>";
                                                html += "<td>" + clsProductionDetail.Qty + "</td>";
                                                html += "<td><a href='javascript: void (0);' class='btn btn-xs sharp btn-danger delete'> <i class='fa fa-trash'></i></a></td></tr>";
                                                $("#tbodyList").append(html);

                                                $("#txtShadeNo").val("");
                                                $("#txtQualityNo").val("");
                                                $("#txtColor").val("");
                                                $("#txtSize").val("");
                                                $("#txtQty").val("");
                                            }
                                        }
                                    }

                                </script>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <input type="submit" class="btn btn-danger light pull-right" id="btnReset" value="Reset" onclick="Fn_Reset_Control();" />
                                <input type="submit" class="btn btn-primary pull-right" id="btnSubmit" value="Submit" onclick="Fn_Insert_Production_Order();" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 1%; display: none;" id="dvVieworder">
            <div class="col-xl-12 col-xxl-12 col-sm-12" id="dvOrderRow">

            </div>
        </div>

    </section>
</section>

