
@{
    ViewBag.Title = "Style";
}

@{

    <link href="~/web/css/select2.min.css" rel="stylesheet" />
    <script type="text/javascript">

        $(document).ready(function () {

            Fn_Get_All_Customer();
            Fn_Fill_DropdownList("ddlCustomer", "CustomerMaster", "vName", "ID", "");
            //Fn_Fill_DropdownList("ddlCategory", "ServiceCategory", "CategoryName", "Id", "");
            //Fn_Fill_DropdownList("ddlEmpId", "EmployeeMaster", "EmpName", "EmpId", "");
        });

        function Fn_OnChange_ddlBundleType() {
            var ddlBundleType = $("#ddlBundleType").val();
            if (ddlBundleType == "Normal") {
                $(".dvddlBundleType").hide();
            }
            else {
                $(".dvddlBundleType").show();
            }
        }

        function Fn_Fill_DropdownList(ddlName, strTBLName, strFieldName, strValueField, strCriteria) {
            var clsRequestDropdown = {};
            clsRequestDropdown.vFieldName = strFieldName;
            clsRequestDropdown.vValueField = strValueField;
            clsRequestDropdown.vTBLName = strTBLName;
            clsRequestDropdown.vCriteria = strCriteria;
            $("#" + ddlName).html('');
            var dropdown = ''; var dropdown1 = "";
            if (ddlName == "ddlEmpId") {
                dropdown1 = "<option value='0'>--Self--</option>";
            }
            else {
                dropdown1 = "<option value='0'>--Select--</option>";
            }
            $("#" + ddlName).append(dropdown1);
            $.ajax({
                type: "POST",
                url: '/Home/Fn_Fill_DropdownList',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(clsRequestDropdown),
                success: function (data) {
                    var obj = JSON.parse(data.message);
                    for (var i = 0; i < obj.length; i++) {
                        if (ddlName == "ddlEmpId") {
                            dropdown += "<option value='" + obj[i].vValueField + "'>" + obj[i].vFieldName + "(" + obj[i].vValueField + ")</option>";
                        }
                        else {
                            dropdown += "<option value='" + obj[i].vValueField + "'>" + obj[i].vFieldName + "</option>";
                        }

                    }
                    $("#" + ddlName).append(dropdown);
                },
                error: function (err) {
                    alert(err);
                }
            });
        }

        function Fn_Get_All_Customer() {

            var clsCustomer = {};
            clsCustomer.CreatedBy = sessionStorage.getItem("LogInID");

            $("#tbodyCustomer").html('');
            var html = '';

            $.ajax({
                type: "POST",
                url: "/MasterEntry/Fn_Get_All_Customer",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(clsCustomer),
                success: function (data) {
                    var obj = JSON.parse(data.message);
                    if (obj[0].vErrorMsg == "Success") {
                        for (var i = 0; i < obj.length; i++) {
                            html += "<tr>";
                           /* html += "<td>" + obj[i].ID + "</td>";*/
                            html += "<td>" + obj[i].vName + "</td>";
                            html += "<td>" + obj[i].CodeNo + "</td>";
                            html += "<td>" + obj[i].vAddress + "</td>";
                            html += "<td><i class='fa fa-pencil text-success edit'></i> <i class='fa fa-check text-success save' style='display: none;'></i></td>";
                            html += "</tr>";
                        }
                    }
                    else {
                        html += "<tr><td colspan='5' class='text-center'>" + obj[0].vErrorMsg + "</td></tr>";
                        
                    }
                    $("#tbodyCustomer").append(html);

                },
                error: function (err) {
                    // alert(err);
                    Swal.fire({ title: "", text: err, icon: "error" });

                }
            });
        }

        function Fn_Add_New_Customer() {

            var clsCustomer = {};
            clsCustomer.CreatedBy = sessionStorage.getItem("LogInID");
            clsCustomer.vName = $("#txtName").val();
            clsCustomer.CodeNo = $("#txtCode").val();
            clsCustomer.vAddress = $("#txtAddress").val();

            if (clsCustomer.vName == "") {
                Swal.fire({ title: "", text: "Please Enter Name", icon: "error" });
            }
            else if (clsCustomer.CodeNo == "") {
                Swal.fire({ title: "", text: "Please Enter CodeNo", icon: "error" });
            }
            else if (clsCustomer.vAddress == "") {
                Swal.fire({ title: "", text: "Please Enter Address", icon: "error" });
            } 
            else {

                $.ajax({
                    type: "POST",
                    url: "/MasterEntry/Fn_Add_New_Customer",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(clsCustomer),
                    success: function (data) {
                        var obj = JSON.parse(data.message);
                        if (obj.vErrorMsg == "Success") {
                            Swal.fire({ title: "", text: "Customer Added Successfully.", icon: "success" });

                            $(document).on("trigger", '.deleteCustomer', function () {
                                $(this).closest('tr').remove();
                            });
                            Fn_Get_All_Customer();
                        }
                        else {
                            Swal.fire({ title: "", text: obj.vErrorMsg, icon: "error" });
                        }

                    },
                    error: function (err) {
                        Swal.fire({ title: "", text: err, icon: "error" });
                    }
                });
            }
        }

    </script>


}

<section id="main-content">
    <section class="wrapper">
        <div class="row page-titles mx-0">
            <span><a href="@Url.Action("Dashboard", "Home")"><i class="fa fa-home"></i> Dashboard</a> </span> > <span id="hHeading">Add New Style</span>
        </div>

        <div class="row" style="margin-top: 1%;">
            <div class="col-xl-12 col-xxl-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">StyleCode<span class="text-danger"> *</span></label>
                                    <input type="text" id="txtStyleCode" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">StyleName<span class="text-danger"> *</span></label>
                                    <input type="text" id="txtStyleName" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">Description<span class="text-danger"> *</span></label>
                                    <input type="text" id="txtDescription" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">Customer<span class="text-danger"> * </span><i class="fa fa-plus-circle" data-toggle="modal" data-target="#CustomerModal"></i></label>
                                    <select id="ddlCustomer" class="form-control">
                                        <option value="0">--Select--</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">GridName<span class="text-danger"> * </span></label>
                                    <select id="ddlGridName" class="form-control">
                                        <option value="0">--Select--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">Category<span class="text-danger"> * </span><i class="fa fa-plus-circle" data-toggle="modal" data-target="#CategoryModal"></i></label>
                                    <select id="ddlCategory" class="form-control">
                                        <option value="0">--Select--</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">Season<span class="text-danger"> * </span><i class="fa fa-plus-circle" data-toggle="modal" data-target="#SeasonModal"></i></label>
                                    <select id="ddlSeason" class="form-control">
                                        <option value="0">--Select--</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">StyleNotes</label>
                                    <input type="text" id="txtStyleNotes" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">Merchant</label>
                                    <select id="ddlMerchant" class="form-control">
                                        <option value="0">--Select--</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">Pattern Master</label>
                                    <select id="ddlPatternMaster" class="form-control">
                                        <option value="0">--Select--</option>

                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">DesignNo</label>
                                    <select id="ddlDesignNo" class="form-control">
                                        <option value="0">--Select--</option>

                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">Style Type</label><br />
                                    <input type="checkbox" id="chkStyleType" value="MTM Style" />MTM Style
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label">Multi Fit OB</label><br />
                                            <input type="checkbox" id="chkMultiFitOB" value="Multi Fit OB" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label">IsActive</label><br />
                                            <input type="checkbox" id="chkIsActive" value="Multi Fit OB" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">FabricWashtype <span class="text-danger"> * </span></label>
                                    <select id="ddlFabricWashtype" class="form-control">
                                        <option value="0">-Select Fabric Wash Type-</option>
                                        <option value="NA">NA</option>
                                        <option value="NORMAL">NORMAL</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">GarmentWashtype <span class="text-danger"> * </span></label>
                                    <select id="ddlGarmentWashtype" class="form-control">
                                        <option value="0">-Select Garment Wash Type-</option>
                                        <option value="ENZYME SOFTENER">ENZYME SOFTENER</option>
                                        <option value="NA">NA</option>
                                        <option value="NORMAL WASH">NORMAL WASH</option>
                                        <option value="SILICON">SILICON</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">Bundle Type</label>
                                    <select id="ddlBundleType" class="form-control" onchange="Fn_OnChange_ddlBundleType();">
                                        <option value="Normal">Normal</option>
                                        <option value="Miltiple">Miltiple</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4 dvddlBundleType" style="display: none;">
                                <div class="form-group">
                                    <label class="form-label">Assembly Type</label>
                                    <select id="ddlAssemblyType" class="form-control">
                                        <option id="0">-Select Garment Wash Type-</option>
                                        <option value="Normal">Normal</option>
                                        <option value="Different">Different</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4 dvddlBundleType" style="display: none;">
                                <div class="form-group">
                                    <label class="form-label">Assembly PCS</label>
                                    <select id="ddlAssemblyPCS" class="form-control">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <button type="submit" class="btn btn-primary" id="btnSubmit" onclick="Fn_Create_NewTicket();">Submit</button>
                                <button type="submit" class="btn btn-danger light" id="btnReset" onclick="Fn_Clear_All_Control();">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</section>

<script src="~/web/js/select2.min.js"></script>
<script>
    $(function () {       
        $("#ddlCustomer").select2();
        $("#ddlGridName").select2();
        $("#ddlCategory").select2();
        $("#ddlSeason").select2();

        $("#ddlMerchant").select2();
        $("#ddlPatternMaster").select2();
        $("#ddlDesignNo").select2();

        $("#ddlFabricWashtype").select2();
        $("#ddlFabricWashtype").select2();
        $("#ddlBundleType").select2();
        $("#ddlAssemblyType").select2();
        $("#ddlAssemblyPCS").select2();
    });

    function Fn_AddCustomer() {
        var html = '';
        var rCount = 1
        if ($("#txtName").val() != "" && $("#txtCode").val() != "") {
            html += "<tr id='rowId_" + rCount + "'>";
            html += "<td><input type='text' id='txtName' class='form-control' /></td>";
            html += "<td><input type='text' id='txtCode' class='form-control' /></td>";
            html += "<td><input type='text' id='txtAddress' class='form-control' /></td>";
            html += "<td><i class='fa fa-close text-danger text-center deleteCustomer'></i><br/>";
            html += "<i class='fa fa-check text-success text-center' id='i_" + rCount + "' onclick='Fn_Add_New_Customer();'></i></td>";
            html += "</tr>";
            $("#tbodyCustomer").append(html);
        }
        else {
            Swal.fire({ title: "", text: "Please fill all fields then add new row", icon: "error" });
        }
    }

    


</script>



<!-- Customer -->
<div id="CustomerModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-sm-5">
                        <h4 class="modal-title">Customer</h4>
                    </div>
                    <div class="col-sm-5">
                        <span class="fa fa-plus-circle fa-2x" style="color:#fff;" onclick="Fn_AddCustomer();"></span>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="close" style="color:#fff;" data-dismiss="modal">&times;</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-responsive" id="tblCustomer">
                        <thead>
                            <tr style="background-color:#f8e680;">
                                <th>Name</th>
                                <th>Code</th>
                                <th>Address</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="tbodyCustomer"></tbody>
                    </table>
                </div>

                <script>
                    $(document).on("click", '.deleteCustomer', function () {
                        $(this).closest('tr').remove();
                    });

                    $(document).on("click", ".edit", function () {


                        let row = $(this).closest("tbody tr");

                        row.find("td.name, td.code, td.address").each(function () {
                            let text = $(this).text();
                            $(this).html(`<input type="text" value="${text}">`);
                        });

                        row.find(".edit").hide();
                        row.find(".save").show();
                    });

                    $(document).on("click", ".save", function () {
                        let row = $(this).closest("tr");

                        row.find("td.name, td.email").each(function () {
                            let value = $(this).find("input").val();
                            $(this).text(value);
                        });

                        row.find(".save").hide();
                        row.find(".edit").show();
                    });

                </script>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!--End Customer -->
<!-- Category -->
<div id="CategoryModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-sm-5">
                        <h4 class="modal-title">Category</h4>
                    </div>
                    <div class="col-sm-5">
                        <span class="fa fa-plus-circle fa-2x" style="color:#fff;"></span>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="close" style="color:#fff;" data-dismiss="modal">&times;</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr style="background-color:#f8e680;">
                                <th>ID</th>
                                <th>Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!--End Category -->
<!-- Season -->
<div id="SeasonModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-sm-5">
                        <h4 class="modal-title">Season</h4>
                    </div>
                    <div class="col-sm-5">
                        <span class="fa fa-plus-circle fa-2x" style="color:#fff;"></span>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="close" style="color:#fff;" data-dismiss="modal">&times;</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr style="background-color:#f8e680;">
                                <th>ID</th>
                                <th>Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!--End Season -->