
@{
    ViewBag.Title = "Style";
}

@{

    <link href="~/web/css/select2.min.css" rel="stylesheet" />
    <script type="text/javascript">

        $(document).ready(function () {

            Fn_Fill_DropdownList("ddlCustomer", "CustomerMaster", "vName", "ID", "");
            Fn_Fill_DropdownList("ddlCategory", "CategoryMaster", "Category", "ID", "");
            Fn_Fill_DropdownList("ddlSeason", "SeasonMaster", "Season", "ID", "");
        });

        function Fn_OnChange_ddlBundleType() {
            var ddlBundleType = $("#ddlBundleType").val();
            if (ddlBundleType == "Normal") {
                $(".dvddlBundleType").hide();
            }
            else {
                $(".dvddlBundleType").show();
                $("#ddlAssemblyType").select2();
                $("#ddlAssemblyPCS").select2();
            }
        }

        function Fn_Fill_DropdownList(ddlName, strTBLName, strFieldName, strValueField, strCriteria) {
            var clsRequestDropdown = {};
            clsRequestDropdown.vFieldName = strFieldName;
            clsRequestDropdown.vValueField = strValueField;
            clsRequestDropdown.vTBLName = strTBLName;
            clsRequestDropdown.vCriteria = strCriteria;
            $("#" + ddlName).html('');
            var dropdown = ''; var dropdown1 = "";
            if (ddlName == "ddlEmpId") {
                dropdown1 = "<option value='0'>--Self--</option>";
            }
            else {
                dropdown1 = "<option value='0'>--Select--</option>";
            }
            $("#" + ddlName).append(dropdown1);
            $.ajax({
                type: "POST",
                url: '/Home/Fn_Fill_DropdownList',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(clsRequestDropdown),
                success: function (data) {
                    var obj = JSON.parse(data.message);
                    for (var i = 0; i < obj.length; i++) {
                        if (ddlName == "ddlEmpId") {
                            dropdown += "<option value='" + obj[i].vValueField + "'>" + obj[i].vFieldName + "(" + obj[i].vValueField + ")</option>";
                        }
                        else {
                            dropdown += "<option value='" + obj[i].vValueField + "'>" + obj[i].vFieldName + "</option>";
                        }

                    }
                    $("#" + ddlName).append(dropdown);
                },
                error: function (err) {
                    alert(err);
                }
            });
        }

        function Fn_Get_All_Customer(id, edit) {

            var clsCustomer = {};
            clsCustomer.CreatedBy = sessionStorage.getItem("LogInID");
            if (edit == "Yes") {
                clsCustomer.ID = id;
            }

            $("#tbodyCustomer").html('');
            var html = '';

            $.ajax({
                type: "POST",
                url: "/MasterEntry/Fn_Get_All_Customer",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(clsCustomer),
                success: function (data) {
                    var obj = JSON.parse(data.message);
                    if (obj[0].vErrorMsg == "Success") {
                        if (edit == "Yes") {
                            $("#txtCustomerID").val(obj[0].ID);
                            $("#txtCustomerName").val(obj[0].vName);
                            $("#txtCodeNo").val(obj[0].CodeNo);
                            $("#txtAddress").val(obj[0].vAddress);
                            $("#txtContact").val(obj[0].vContact);
                        }
                        else {
                            for (var i = 0; i < obj.length; i++) {
                                html += "<tr>";
                                /* html += "<td>" + obj[i].ID + "</td>";*/
                                html += "<td>" + obj[i].vName + "</td>";
                                html += "<td>" + obj[i].CodeNo + "</td>";
                                html += "<td>" + obj[i].vAddress + "</td>";
                                html += "<td>" + obj[i].vContact + "</td>";
                                html += "<td><a href='javascript: void (0);' class='btn btn-xs sharp btn-info edit'><i class='fa fa-edit' onclick='Fn_Edit_Customer(" + obj[i].ID + ")'></i></a></td>";
                                html += "</tr>";
                            }
                        }
                    }
                    else {
                        html += "<tr><td colspan='5' class='text-center'>" + obj[0].vErrorMsg + "</td></tr>";

                    }
                    $("#tbodyCustomer").append(html);

                },
                error: function (err) {
                    Swal.fire({ title: "", text: err, icon: "error" });

                }
            });
        }

        function Fn_Edit_Customer(id) {
            var customerID = id;
            var edit = "Yes";
            Fn_Get_All_Customer(customerID, edit);
            $("#dvAddCustomer").show();
            $("#dvViewCustomer").hide();
            $("#btnAddCustomer").val("Update");
        }

        function Fn_Add_New_Customer() {

            var clsCustomer = {};
            var strMSG = "";
            if ($("#btnAddCustomer").val() == "Add") {
                strMSG = "Customer Added Successfully";
            }
            else {
                strMSG = "Customer Updated Successfully";
                clsCustomer.ID = $("#txtCustomerID").val();
            }

            clsCustomer.CreatedBy = sessionStorage.getItem("LogInID");
            clsCustomer.vName = $("#txtCustomerName").val();
            clsCustomer.CodeNo = $("#txtCodeNo").val();
            clsCustomer.vAddress = $("#txtAddress").val();
            clsCustomer.vContact = $("#txtContact").val();

            if (clsCustomer.vName == "") {
                Swal.fire({ title: "", text: "Please Enter Name", icon: "error" });
            }
            else if (clsCustomer.CodeNo == "") {
                Swal.fire({ title: "", text: "Please Enter CodeNo", icon: "error" });
            }
            else if (clsCustomer.vAddress == "") {
                Swal.fire({ title: "", text: "Please Enter Address", icon: "error" });
            }
            else {

                $.ajax({
                    type: "POST",
                    url: "/MasterEntry/Fn_Add_New_Customer",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(clsCustomer),
                    beforeSend: function () {
                        $('#btnAddCustomer').attr('disabled', 'disabled');
                    },
                    success: function (data) {
                        var obj = JSON.parse(data.message);
                        if (obj.vErrorMsg == "Success") {
                            $("#txtCustomerName").val("");
                            $("#txtCodeNo").val("");
                            $("#txtAddress").val("");
                            $("#txtContact").val("");
                            $("#txtCustomerID").val("");
                            Swal.fire({ title: "", text: strMSG, icon: "success" });

                            $("#dvAddCustomer").hide();
                            $("#dvViewCustomer").show();
                            Fn_Get_All_Customer(0, "No");
                            Fn_Fill_DropdownList("ddlCustomer", "CustomerMaster", "vName", "ID", "");

                        }
                        else {
                            Swal.fire({ title: "", text: obj.vErrorMsg, icon: "error" });
                        }

                    },
                    complete: function (data) {
                        $('#btnAddCustomer').removeAttr('disabled');
                    },
                    error: function (err) {
                        Swal.fire({ title: "", text: err, icon: "error" });
                    }
                });
            }
        }

        // ------------Category------------

        function Fn_Get_All_Category(id, edit) {

            var clsCategory = {};
            clsCategory.CreatedBy = sessionStorage.getItem("LogInID");
            if (edit == "Yes") {
                clsCategory.ID = id;
            }

            $("#tbodyCategory").html('');
            var html = '';

            $.ajax({
                type: "POST",
                url: "/MasterEntry/Fn_Get_All_Category",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(clsCategory),
                success: function (data) {
                    var obj = JSON.parse(data.message);
                    if (obj[0].vErrorMsg == "Success") {
                        if (edit == "Yes") {
                            $("#txtCategoryID").val(obj[0].ID);
                            $("#txtCategoryName").val(obj[0].Category);
                        }
                        else {
                            for (var i = 0; i < obj.length; i++) {
                                html += "<tr>";
                                html += "<td>" + obj[i].ID + "</td>";
                                html += "<td>" + obj[i].Category + "</td>";
                                html += "<td><a href='javascript: void (0);' class='btn btn-xs sharp btn-info edit'><i class='fa fa-edit' onclick='Fn_Edit_Category(" + obj[i].ID + ")'></i></a></td>";
                                html += "</tr>";
                            }
                        }
                    }
                    else {
                        html += "<tr><td colspan='3' class='text-center'>" + obj[0].vErrorMsg + "</td></tr>";

                    }
                    $("#tbodyCategory").append(html);

                },
                error: function (err) {
                    Swal.fire({ title: "", text: err, icon: "error" });

                }
            });
        }

        function Fn_Edit_Category(id) {
            var categoryID = id;
            var edit = "Yes";
            Fn_Get_All_Category(categoryID, edit);
            $("#dvAddCategory").show();
            $("#dvViewCategory").hide();
            $("#btnAddCategory").val("Update");
        }

        function Fn_Add_New_Category() {

            var clsCategory = {};
            var strMSG = "";
            if ($("#btnAddCategory").val() == "Add") {
                strMSG = "Category Added Successfully";
            }
            else {
                strMSG = "Category Updated Successfully";
                clsCategory.ID = $("#txtCategoryID").val();
            }

            clsCategory.CreatedBy = sessionStorage.getItem("LogInID");
            clsCategory.Category = $("#txtCategoryName").val();

            if (clsCategory.Category == "") {
                Swal.fire({ title: "", text: "Please Enter Category", icon: "error" });
            }
            else {

                $.ajax({
                    type: "POST",
                    url: "/MasterEntry/Fn_Add_New_Category",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(clsCategory),
                    beforeSend: function () {
                        $('#btnAddCategory').attr('disabled', 'disabled');
                    },
                    success: function (data) {
                        var obj = JSON.parse(data.message);
                        if (obj.vErrorMsg == "Success") {
                            $("#txtCategoryName").val("");
                            $("#txtCategoryID").val("");
                            Swal.fire({ title: "", text: strMSG, icon: "success" });

                            $("#dvAddCategory").hide();
                            $("#dvViewCategory").show();
                            Fn_Get_All_Category(0, "No");
                            Fn_Fill_DropdownList("ddlCategory", "CategoryMaster", "Category", "ID", "");
                        }
                        else {
                            Swal.fire({ title: "", text: obj.vErrorMsg, icon: "error" });
                        }
                    },
                    complete: function (data) {
                        $('#btnAddCategory').removeAttr('disabled');
                    },
                    error: function (err) {
                        Swal.fire({ title: "", text: err, icon: "error" });
                    }
                });
            }
        }


        // ------------- Seasion ------------

        function Fn_Get_All_Season(id, edit) {

            var clsSeason = {};
            clsSeason.CreatedBy = sessionStorage.getItem("LogInID");
            if (edit == "Yes") {
                clsSeason.ID = id;
            }

            $("#tbodySeason").html('');
            var html = '';

            $.ajax({
                type: "POST",
                url: "/MasterEntry/Fn_Get_All_Season",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(clsSeason),
                success: function (data) {
                    var obj = JSON.parse(data.message);
                    if (obj[0].vErrorMsg == "Success") {
                        if (edit == "Yes") {
                            $("#txtSeasonID").val(obj[0].ID);
                            $("#txtSeason").val(obj[0].Season);
                        }
                        else {
                            for (var i = 0; i < obj.length; i++) {
                                html += "<tr>";
                                html += "<td>" + obj[i].ID + "</td>";
                                html += "<td>" + obj[i].Season + "</td>";
                                html += "<td><a href='javascript: void (0);' class='btn btn-xs sharp btn-info edit'>";
                                html += "<i class='fa fa-edit' onclick='Fn_Edit_Season(" + obj[i].ID + ")'></i></a></td > ";
                                html += "</tr>";
                            }
                        }
                    }
                    else {
                        html += "<tr><td colspan='3' class='text-center'>" + obj[0].vErrorMsg + "</td></tr>";

                    }
                    $("#tbodySeason").append(html);

                },
                error: function (err) {
                    Swal.fire({ title: "", text: err, icon: "error" });

                }
            });
        }

        function Fn_Edit_Season(id) {
            var seasonID = id;
            var edit = "Yes";
            Fn_Get_All_Season(seasonID, edit);
            $("#dvAddSeason").show();
            $("#dvViewSeason").hide();
            $("#btnAddSeason").val("Update");
        }

        function Fn_Add_New_Season() {

            var clsSeason = {};
            var strMSG = "";
            if ($("#btnAddSeason").val() == "Add") {
                strMSG = "Season Added Successfully";
            }
            else {
                strMSG = "Season Updated Successfully";
                clsSeason.ID = $("#txtSeasonID").val();
            }

            clsSeason.CreatedBy = sessionStorage.getItem("LogInID");
            clsSeason.Season = $("#txtSeason").val();

            if (clsSeason.Season == "") {
                Swal.fire({ title: "", text: "Please Enter Season", icon: "error" });
            }
            else {

                $.ajax({
                    type: "POST",
                    url: "/MasterEntry/Fn_Add_New_Season",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(clsSeason),
                    beforeSend: function () {
                        $('#btnAddSeason').attr('disabled', 'disabled');
                    },
                    success: function (data) {
                        var obj = JSON.parse(data.message);
                        if (obj.vErrorMsg == "Success") {
                            $("#txtSeason").val("");
                            $("#txtSeasonID").val("");
                            Swal.fire({ title: "", text: strMSG, icon: "success" });

                            $("#dvAddSeason").hide();
                            $("#dvViewSeason").show();
                            Fn_Get_All_Season(0, "No");
                            Fn_Fill_DropdownList("ddlSeason", "SeasonMaster", "Season", "ID", "");
                        }
                        else {
                            Swal.fire({ title: "", text: obj.vErrorMsg, icon: "error" });
                        }
                    },
                    complete: function (data) {
                        $('#btnAddSeason').removeAttr('disabled');
                    },
                    error: function (err) {
                        Swal.fire({ title: "", text: err, icon: "error" });
                    }
                });
            }
        }

        //--------------- Add Style ----------------

        function Fn_Edit_Style(id) {
            var styleCode = id;
            var edit = "Yes";
            Fn_Get_Style(styleCode, edit);
            $("#dvAddStyle").show();
            $("#dvViewStyle").hide();
            $("#btnSubmit").val("Update");

            $("#spnView").show();
            $("#spnAdd").hide();
            $("#spnHeading").html("Update Style");
        }

        function Fn_Insert_Style() {

            var clsStyle = {};
            var strMSG = "";
            if ($("#btnSubmit").val() == "Submit") {
                strMSG = "Style Added Successfully";
            }
            else {
                strMSG = "Style Updated Successfully";
                clsStyle.StyleCode = $("#txtStyleCode").val();
            }

            clsStyle.CreatedBy = sessionStorage.getItem("LogInID");
            clsStyle.StyleCode = $("#txtStyleCode").val();
            clsStyle.StyleName = $("#txtStyleName").val();
            clsStyle.Description = $("#txtDescription").val();
            clsStyle.CustomerID = $("#ddlCustomer").val();
            clsStyle.GridName = $("#ddlGridName").val();
            clsStyle.CategoryID = $("#ddlCategory").val();
            clsStyle.SeasonID = $("#ddlSeason").val();
            clsStyle.StyleNotes = $("#txtStyleNotes").val();
            clsStyle.Merchant = $("#txtMerchant").val();
            clsStyle.PatternMaster = $("#txtPatternMaster").val();
            clsStyle.DesignNo = $("#txtDesignNo").val();

            if ($('#chkStyleType').is(':checked')) {
                clsStyle.StyleType = true;
            } else {
                clsStyle.StyleType = false;
            }

            if ($('#chkMultiFitOB').is(':checked')) {
                clsStyle.MultiFitOB = true;
            } else {
                clsStyle.MultiFitOB = false;
            }

            if ($('#chkIsActive').is(':checked')) {
                clsStyle.IsActive = true;
            } else {
                clsStyle.IsActive = false;
            }


            clsStyle.FabricWashtype = $("#ddlFabricWashtype").val();
            clsStyle.GarmentWashtype = $("#ddlFabricWashtype").val();
            clsStyle.BundleType = $("#ddlBundleType").val();
            clsStyle.AssemblyType = $("#ddlAssemblyType").val();
            clsStyle.AssemblyPCS = $("#ddlAssemblyPCS").val();

            if (clsStyle.StyleCode == "") {
                Swal.fire({ title: "", text: "Please Enter StyleCode", icon: "error" });
            }
            else if (clsStyle.StyleName == "") {
                Swal.fire({ title: "", text: "Please Enter StyleName", icon: "error" });
            }
            else if (clsStyle.Description == "") {
                Swal.fire({ title: "", text: "Please Enter Description", icon: "error" });
            }
            else if (clsStyle.CustomerID == "0") {
                Swal.fire({ title: "", text: "Please Select Customer", icon: "error" });
            }
            else if (clsStyle.GridName == "") {
                Swal.fire({ title: "", text: "Please Enter GridName", icon: "error" });
            }
            else if (clsStyle.CategoryID == "0") {
                Swal.fire({ title: "", text: "Please Select Category", icon: "error" });
            }
            else if (clsStyle.SeasonID == "") {
                Swal.fire({ title: "", text: "Please Select Season", icon: "error" });
            }
            else if (clsStyle.FabricWashtype == "") {
                Swal.fire({ title: "", text: "Please Select FabricWashtype", icon: "error" });
            }
            else if (clsStyle.GarmentWashtype == "") {
                Swal.fire({ title: "", text: "Please Select GarmentWashtype", icon: "error" });
            }
            else {

                $.ajax({
                    type: "POST",
                    url: "/Production/Fn_Insert_Style",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(clsStyle),
                    beforeSend: function () {
                        $('#btnSubmit').attr('disabled', 'disabled');
                    },
                    success: function (data) {
                        var obj = JSON.parse(data.message);
                        if (obj.vErrorMsg == "Success") {
                            
                            Swal.fire({ title: "", text: strMSG, icon: "success" });
                            Fn_Reset_Control();
                            $("#dvViewStyle").show();
                            $("#dvAddStyle").hide();
                            Fn_Get_Style(0, "No");
                        }
                        else {
                            Swal.fire({ title: "", text: obj.vErrorMsg, icon: "error" });
                        }
                    },
                    complete: function (data) {
                        $('#btnSubmit').removeAttr('disabled');
                    },
                    error: function (err) {
                        Swal.fire({ title: "", text: err, icon: "error" });
                    }
                });
            }
        }

        function Fn_Reset_Control() {


            $("#txtStyleCode").val("");
            $("#txtStyleName").val("");
            $("#txtDescription").val("");
            $("#ddlCustomer").select2("val", "0");
            $("#ddlGridName").select2("val", "0");
            $("#ddlCategory").select2("val", "0");
            $("#ddlSeason").select2("val", "0");
            $("#txtStyleNotes").val("");
            $("#txtMerchant").val("");
            $("#txtPatternMaster").val("");
            $("#txtDesignNo").val("");
            $("#chkStyleType").prop('checked', false);
            $("#chkMultiFitOB").prop('checked', false);
            $("#chkIsActive").prop('checked', false);
            $("#ddlFabricWashtype").val("0").trigger("change");
            $("#ddlGarmentWashtype").val("0").trigger("change");
            $("#ddlBundleType").val("0").trigger("change");
            $("#ddlAssemblyType").val("0").trigger("change");

        }

        function Fn_Get_Style(id, edit) {

            var clsStyle = {};
            clsStyle.CreatedBy = sessionStorage.getItem("LogInID");
            if (edit == "Yes") {
                clsStyle.StyleCode = id;
            }

            $("#dvStyleRow").html('');
            var html = '';

            $.ajax({
                type: "POST",
                url: "/Production/Fn_Get_Style",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(clsStyle),
                success: function (data) {
                    var obj = JSON.parse(data.message);

                    if (obj[0].vErrorMsg == "Success") {
                        if (edit == "Yes") {
                           
                            $("#txtStyleCode").val(obj[0].StyleCode);
                            $("#txtStyleName").val(obj[0].StyleName);
                            $("#txtDescription").val(obj[0].Description);
                           // $("#ddlCustomer").val(obj[0].CustomerID);
                            //$("#ddlCustomer").select2("val", obj[0].CustomerID);

                            $("#ddlCustomer").val(obj[0].CustomerID).trigger("change");

                            $("#ddlGridName").val(obj[0].GridName).trigger("change");
                            $("#ddlCategory").val(obj[0].CategoryID).trigger("change");
                            $("#ddlSeason").val(obj[0].SeasonID).trigger("change");
                            $("#txtStyleNotes").val(obj[0].StyleNotes);
                            $("#txtMerchant").val(obj[0].Merchant);
                            $("#txtPatternMaster").val(obj[0].PatternMaster);
                            $("#txtDesignNo").val(obj[0].DesignNo);
                           
                            if (obj[0].StyleType == true) {
                                $('#chkStyleType').prop('checked', true);
                            } else {
                                $('#chkStyleType').prop('checked', false);
                            }

                            if (obj[0].MultiFitOB == true) {
                                $('#chkMultiFitOB').prop('checked', true);
                            } else {                               
                                $('#chkMultiFitOB').prop('checked', false);
                            }

                            if (obj[0].IsActive == true) {
                                $('#chkIsActive').prop('checked', true);
                            } else {
                                $('#chkIsActive').prop('checked', false);
                            }

                           
                            $("#ddlFabricWashtype").val(obj[0].FabricWashtype).trigger("change");
                            $("#ddlGarmentWashtype").val(obj[0].GarmentWashtype).trigger("change");
                            $("#ddlBundleType").val(obj[0].BundleType).trigger("change");
                            

                            if (obj[0].BundleType == "Multiple") {
                                $("#dvddlBundleType").show();

                                //$("#ddlAssemblyType").select2();
                                //$("#ddlAssemblyPCS").select2();

                                //$("#ddlAssemblyType").val(obj[0].AssemblyType).trigger("change");
                                //$("#ddlAssemblyPCS").val(obj[0].AssemblyPCS).trigger("change");

                                if ($("#ddlAssemblyType option[value='" + obj[0].AssemblyType + "']").length) {
                                    $("#ddlAssemblyType").val(obj[0].AssemblyType).trigger("change");
                                }

                                if ($("#ddlAssemblyPCS option[value='" + obj[0].AssemblyPCS + "']").length) {
                                    $("#ddlAssemblyPCS").val(obj[0].AssemblyPCS).trigger("change");
                                }

                            }
                            else {
                                $("#dvddlBundleType").hide();
                            }
                           

                            $("#dvAddStyle").show();
                            $("#dvViewStyle").hide();
                        }
                        else {
                            for (var i = 0; i < obj.length; i++) {
                                
                                html += "<div class='col-sm-4'>";
                                html += "<div class='card'>";
                               
                                html += "<div class='card-header' style='border-bottom: 1px solid #797979; margin-bottom: 5px'>";
                                html += "<span style='font-weight: 800;'>" + obj[i].StyleCode + "</span>";
                                html += "</div>";
                                html += "<div class='card-body'>";
                                html += "<table>";
                                html += "<tr><td style='font-weight: 800;'>Description: </td><td>" + obj[i].Description + "</td></tr>";
                                html += "<tr><td style='font-weight: 800;'>Customer: </td><td>" + obj[i].Customer + "</td></tr>";
                                html += "<tr><td style='font-weight: 800;'>GridName: </td><td>" + obj[i].GridName + "</td></tr>";
                                html += "<tr><td style='font-weight: 800;'>Category: </td><td>" + obj[i].Category + "</td></tr>";
                                html += "<tr><td style='font-weight: 800;'>CreatedOn: </td><td>" + obj[i].CreatedOn + "</td></tr>";
                                html += "</table>";
                                html += "</div>";
                                html += "<div class='card-footer' style='border-top: 1px solid #797979; margin-top: 5px'>";
                                html += "<table style='margin-top: 5px'>";
                                html += "<tr><td colspan='2'>";
                                html += "<a href='javascript: void (0);' class='btn btn-xs sharp btn-info edit'><i class='fa fa-edit' onclick=\"Fn_Edit_Style('" + obj[i].StyleCode + "')\"></i></a>";
                                html += "</td></tr></table>";
                                html += "</div>";
                                html += "</div>";
                                html += "</div>";
                            }
                        }
                    }
                    else {
                        html += "<tr><td colspan='3' class='text-center'>" + obj[0].vErrorMsg + "</td></tr>";

                    }
                    $("#dvStyleRow").append(html);

                },
                error: function (err) {
                    Swal.fire({ title: "", text: err, icon: "error" });

                }
            });
        }

    </script>


}

<section id="main-content">
    <section class="wrapper">
        <div class="row page-titles mx-0">
            <div class="col-sm-8"><span><a href="@Url.Action("Dashboard", "Home")"><i class="fa fa-home"></i> Dashboard</a> </span> > <span id="spnHeading">Add New Style</span></div>
            
            <div class="col-sm-4">
                <span id="spnView"><i class="btn btn-primary btn-xs pull-right fa fa-eye" onclick="Show_dvViewStyle();"></i></span>
                <span id="spnAdd" style="display: none;"><i class="btn btn-primary btn-xs pull-right fa fa-plus-circle" onclick="Fn_Show_dvAddStyle();"></i></span>
            </div>
             
        </div>

        <div class="row" style="margin-top: 1%;" id="dvAddStyle">
            <div class="col-xl-12 col-xxl-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">Style Code<span class="text-danger"> *</span></label>
                                    <input type="text" id="txtStyleCode" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">Style Name<span class="text-danger"> *</span></label>
                                    <input type="text" id="txtStyleName" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">Description<span class="text-danger"> *</span></label>
                                    <input type="text" id="txtDescription" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">Customer<span class="text-danger"> * </span><i class="fa fa-plus-circle" data-toggle="modal" data-target="#CustomerModal"></i></label>
                                    <select id="ddlCustomer" class="form-control">
                                        <option value="0">--Select--</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">Grid Name<span class="text-danger"> * </span></label>
                                    <select id="ddlGridName" class="form-control">
                                        <option value="0">--Select--</option>
                                        <option value="CM-50-150">CM-50-150</option>
                                        <option value="Inch 20 to 60">Inch 20 to 60</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">Category<span class="text-danger"> * </span><i class="fa fa-plus-circle" data-toggle="modal" data-target="#CategoryModal"></i></label>
                                    <select id="ddlCategory" class="form-control">
                                        <option value="0">--Select--</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">Season<span class="text-danger"> * </span><i class="fa fa-plus-circle" data-toggle="modal" data-target="#SeasonModal"></i></label>
                                    <select id="ddlSeason" class="form-control">
                                        <option value="0">--Select--</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">Style Notes</label>
                                    <input type="text" id="txtStyleNotes" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">Merchant</label>
                                    <input type="text" id="txtMerchant" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">Pattern Master</label>
                                    <input type="text" id="txtPatternMaster" class="form-control" />
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">Design No</label>
                                    <input type="text" id="txtDesignNo" class="form-control" />
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">Style Type</label><br />
                                    <input type="checkbox" id="chkStyleType" value="MTM Style" />MTM Style
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label">Multi Fit OB</label><br />
                                            <input type="checkbox" id="chkMultiFitOB" value="Multi Fit OB" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="form-label">IsActive</label><br />
                                            <input type="checkbox" id="chkIsActive" value="Multi Fit OB" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">Fabric Wash Type <span class="text-danger"> * </span></label>
                                    <select id="ddlFabricWashtype" class="form-control">
                                        <option value="0">-Select Fabric Wash Type-</option>
                                        <option value="NA">NA</option>
                                        <option value="NORMAL">NORMAL</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">Garment Wash type <span class="text-danger"> * </span></label>
                                    <select id="ddlGarmentWashtype" class="form-control">
                                        <option value="0">-Select Garment Wash Type-</option>
                                        <option value="ENZYME SOFTENER">ENZYME SOFTENER</option>
                                        <option value="NA">NA</option>
                                        <option value="NORMAL WASH">NORMAL WASH</option>
                                        <option value="SILICON">SILICON</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">Bundle Type</label>
                                    <select id="ddlBundleType" class="form-control" onchange="Fn_OnChange_ddlBundleType();">
                                        <option value="Normal">Normal</option>
                                        <option value="Miltiple">Multiple</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4 dvddlBundleType" style="display: none;">
                                <div class="form-group">
                                    <label class="form-label">Assembly Type</label>
                                    <select id="ddlAssemblyType" class="form-control">
                                        <option value="0">-Select Garment Wash Type-</option>
                                        <option value="Normal">Normal</option>
                                        <option value="Different">Different</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4 dvddlBundleType" style="display: none;">
                                <div class="form-group">
                                    <label class="form-label">Assembly PCS</label>
                                    <select id="ddlAssemblyPCS" class="form-control">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <input type="submit" class="btn btn-danger pull-right" id="btnReset" value="Reset" onclick="Fn_Reset_Control();" />
                                <input type="submit" class="btn btn-primary pull-right" id="btnSubmit" value="Submit" onclick="Fn_Insert_Style();" />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 1%; display: none;" id="dvViewStyle">
            <div class="col-xl-12 col-xxl-12 col-sm-12" id="dvStyleRow">

            </div>
        </div>

    </section>
</section>

<script src="~/web/js/select2.min.js"></script>
<script>
    $(function () {
        $("#ddlCustomer").select2();
        $("#ddlGridName").select2();
        $("#ddlCategory").select2();
        $("#ddlSeason").select2();

        $("#ddlMerchant").select2();
        $("#ddlPatternMaster").select2();
        $("#ddlDesignNo").select2();

        $("#ddlFabricWashtype").select2();
        $("#ddlFabricWashtype").select2();
        $("#ddlBundleType").select2();
        //$("#ddlAssemblyType").select2();
        //$("#ddlAssemblyPCS").select2();
    });

    function Fn_Show_dvAddCustomer() {

        $("#btnAddCustomer").val("");
        $("#btnAddCustomer").val("Add");
        $("#dvAddCustomer").show();
        $("#dvViewCustomer").hide();
    }

    function Show_dvViewCustomer() {
        $("#dvViewCustomer").show();
        $("#dvAddCustomer").hide();
        Fn_Get_All_Customer(0, "No");
    }
    // Category

    function Fn_Show_dvAddCategory() {

        $("#btnAddCategory").val("");
        $("#btnAddCategory").val("Add");
        $("#dvAddCategory").show();
        $("#dvViewCategory").hide();
    }

    function Show_dvViewCategory() {
        $("#dvViewCategory").show();
        $("#dvAddCategory").hide();
        Fn_Get_All_Category(0, "No");
    }

    // Season

    function Fn_Show_dvAddSeason() {

        $("#btnAddSeason").val("");
        $("#btnAddSeason").val("Add");
        $("#dvAddSeason").show();
        $("#dvViewSeason").hide();
    }

    function Show_dvViewSeason() {
        $("#dvViewSeason").show();
        $("#dvAddSeason").hide();
        Fn_Get_All_Season(0, "No");
    }

    // Style

    function Fn_Show_dvAddStyle() {

        $("#btnSubmit").val("");
        $("#btnSubmit").val("Submit");
        $("#dvAddStyle").show();
        $("#dvViewStyle").hide();
        $("#spnAdd").hide();
        $("#spnView").show();
        $("#spnHeading").html("Add New Style");
    }

    function Show_dvViewStyle() {
        $("#dvViewStyle").show();
        $("#dvAddStyle").hide();
        $("#spnAdd").show();
        $("#spnView").hide();
        $("#spnHeading").html("View Style");
        Fn_Get_Style(0, "No");
    }

</script>



<!-- Customer -->
<div id="CustomerModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-sm-3">
                        <h4 class="modal-title">Customer</h4>
                    </div>
                    <div class="col-sm-3">
                        <span class="fa fa-plus-circle fa-2x" style="color:#fff;" onclick="Fn_Show_dvAddCustomer();"></span>
                    </div>
                    <div class="col-sm-3">
                        <span class="fa fa-eye fa-2x" style="color:#fff;" onclick="Show_dvViewCustomer();"></span>
                    </div>
                    <div class="col-sm-3">
                        <button type="button" class="close" style="color:#fff;" data-dismiss="modal">&times;</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row" id="dvAddCustomer">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="form-label">Name</label>
                            <input type="text" id="txtCustomerName" class="form-control" />
                            <input type="hidden" id="txtCustomerID" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="form-label">CodeNo</label>
                            <input type="text" id="txtCodeNo" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="form-label">Address</label>
                            <input type="text" id="txtAddress" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="form-label">Contact</label>
                            <input type="text" id="txtContact" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <input type="submit" id="btnAddCustomer" value="Add" class="btn btn-success" onclick="Fn_Add_New_Customer();" style="margin-top: 22px;" />
                    </div>
                </div>
                <div class="row" id="dvViewCustomer" style="display: none;">
                    <div class="table-responsive">
                        <table class="table table-bordered table-responsive" id="tblCustomer">
                            <thead>
                                <tr style="background-color: #E1C16E; background-image: linear-gradient(to bottom, #722F37, #DB5A6A); color: white;">
                                    <th>Name</th>
                                    <th>Code</th>
                                    <th>Address</th>
                                    <th>Contact</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyCustomer"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!--End Customer -->
<!-- Category -->
<div id="CategoryModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-sm-3">
                        <h4 class="modal-title">Category</h4>
                    </div>
                    <div class="col-sm-3">
                        <span class="fa fa-plus-circle fa-2x" style="color:#fff;" onclick="Fn_Show_dvAddCategory();"></span>
                    </div>
                    <div class="col-sm-3">
                        <span class="fa fa-eye fa-2x" style="color:#fff;" onclick="Show_dvViewCategory();"></span>
                    </div>
                    <div class="col-sm-3">
                        <button type="button" class="close" style="color:#fff;" data-dismiss="modal">&times;</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row" id="dvAddCategory">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label class="form-label">Category Name</label>
                            <input type="text" id="txtCategoryName" class="form-control" />
                            <input type="hidden" id="txtCategoryID" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <input type="submit" id="btnAddCategory" value="Add" class="btn btn-primary" onclick="Fn_Add_New_Category();" style="margin-top: 22px;" />
                    </div>
                </div>
                <div class="row" id="dvViewCategory" style="display: none;">
                    <div class="table-responsive">
                        <table class="table table-bordered table-responsive">
                            <thead>
                                <tr style="background-color: #E1C16E; background-image: linear-gradient(to bottom, #722F37, #DB5A6A); color: white;">
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyCategory"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!--End Category -->
<!-- Season -->
<div id="SeasonModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-sm-4">
                        <h4 class="modal-title">Season</h4>
                    </div>
                    <div class="col-sm-3">
                        <span class="fa fa-plus-circle fa-2x" style="color:#fff;" onclick="Fn_Show_dvAddSeason();"></span>
                    </div>
                    <div class="col-sm-3">
                        <span class="fa fa-eye fa-2x" style="color:#fff;" onclick="Show_dvViewSeason();"></span>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="close" style="color:#fff;" data-dismiss="modal">&times;</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row" id="dvAddSeason">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label class="form-label">Season</label>
                            <input type="text" id="txtSeason" class="form-control" />
                            <input type="hidden" id="txtSeasonID" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <input type="submit" id="btnAddSeason" value="Add" class="btn btn-primary" onclick="Fn_Add_New_Season();" style="margin-top: 22px;" />
                    </div>
                </div>
                <div class="row" id="dvViewSeason" style="display: none;">
                    <div class="table-responsive">
                        <table class="table table-bordered table-responsive">
                            <thead>
                                <tr style="background-color: #E1C16E; background-image: linear-gradient(to bottom, #722F37, #DB5A6A); color: white;">
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="tbodySeason"></tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!--End Season -->