
@{
    ViewBag.Title = "Index";
    Layout = null;
}

@{
    <!-- Favicons -->
    <link href="~/web/img/favicon.png" rel="icon">
    <link href="~/web/img/apple-touch-icon.png" rel="apple-touch-icon">

    <link href="~/web/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/web/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/web/css/style.css" rel="stylesheet">
    <link href="~/web/css/style-responsive.css" rel="stylesheet">

    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link href="~/web/css/sweetalert2.css" rel="stylesheet" />

    <script>

        $(document).ready(function () {

        });

        function Fn_LogIn_Employee() {

            if ($("#txtEmployeeId").val() == "") {
                Swal.fire({ title: "Login", text: "Please Enter Employee ID or Mobile Number", icon: "error", });
            }
            else if ($("#txtPassword").val() == "") {
                Swal.fire({ title: "Login", text: "Please Enter Correct Password", icon: "error", });
            }
            else {
                var clsEmployee = {};
                clsEmployee.nEmpId = $("#txtEmployeeId").val().trim();
                clsEmployee.vEmpMobile = $("#txtEmployeeId").val().trim();
                clsEmployee.vEmpPassword = $("#txtPassword").val().trim();
                $.ajax({
                    type: "POST",
                    url: "/Home/Fn_LogIn_Employee",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(clsEmployee),
                    success: function (data) {
                        var obj = JSON.parse(data.message);
                        if (obj.vErrorMsg == "Success") {
                            sessionStorage.setItem("LogInID", obj.nEmpId);
                            sessionStorage.setItem("UserName", obj.vEmpName);
                            sessionStorage.setItem("EmpRole", obj.EmpRole);
                            window.location.href = '/Home/Dashboard';
                        }
                        else {
                            Swal.fire({ title: "Login", text: obj.vErrorMsg, icon: "error", });
                        }
                    },
                    error: function (err) {
                        alert(err);
                    }
                });
            }

        }


        function Fn_ShowPassword() {
            var passwordField = $("#txtPassword");
            var passwordFieldtype = passwordField.attr('type');

            if (passwordFieldtype === 'password') {
                passwordField.attr('type', 'text');
                $(this).find(".fa-eye-slash").hide();
                $(this).find(".fa-eye").show();
            }
            else {
                passwordField.attr('type', 'password');
                $(this).find(".fa-eye-slash").show();
                $(this).find(".fa-eye").hide();
            }
        }

    </script>

    <style>
        body {
            background-image: url("/web/img/shirts.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }

        .dvHeading {
            margin: 0;
            /* padding: 25px 20px;*/
            padding: 10px 20px;
            text-align: center;
            /*background: #23527c;*/
            background: #fff;
            border-radius: 5px 5px 0 0;
            -webkit-border-radius: 5px 5px 0 0;
            /* color: #fff;*/
            color: #23527c;
            font-size: 15px;
            text-transform: uppercase;
            font-weight: 300;
        }
    </style>
}

<div id="login-page">
    <div class="container">
        <div class="form-login" style="background: #fff;">
            <div style="padding-left: 20px; padding-right: 20px;">
                <img src="~/web/img/logo.png" style="width: 100%;" />
            </div>
            <h2 class="dvHeading" style="color: #DB5A6A;"><b>BSL RMG Sign In</b></h2>
            <div class="login-wrap">
                <label>Emp Id/Mobile No</label>
                <input type="text" id="txtEmployeeId" name="txtEmployeeId" class="form-control" placeholder="Enter Emp Id/Mobile No" autofocus>
                <br>
                <label>Password</label>
                <input type="password" id="txtPassword" name="txtPassword" class="form-control" placeholder="Enter the Password">
                <label class="checkbox">
                    <span class="pull-right">
                        <a data-toggle="modal" href="login.html#myModal"> Forgot Password?</a>
                    </span>
                </label>
                <button class="btn btn-theme btn-block" style="background-image: linear-gradient(to bottom, #722F37, #DB5A6A); color: white;" onclick="Fn_LogIn_Employee();" type="submit"><i class="fa fa-lock"></i> SIGN IN</button>

            </div>
            <!-- Modal -->
            <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" style="background-image: linear-gradient(to bottom, #722F37, #DB5A6A); color: white;">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: white;">&times;</button>
                            <h4 class="modal-title">Forgot Password ?</h4>
                        </div>
                        <div class="modal-body">
                            <p>Enter your e-mail address below to reset your password.</p>
                            <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">
                        </div>
                        <div class="modal-footer">
                            <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                            <button class="btn btn-theme" type="button">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- modal -->
        </div>
    </div>
</div>
<!--**********************************
       Scripts
   ***********************************-->
<!-- Required vendors -->
@*<script src="~/web/lib/jquery/jquery.min.js"></script>*@
<script src="~/web/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="~/web/js/sweetalert2.js"></script>

