
@{
    ViewBag.Title = "AddDivision";
}

@{ 
    <script type="text/javascript">

        function Fn_Add_New_Division() {

            var clsDivision = {};
            
            if ($("#txtDivisionName").val() == "") {
                Swal.fire({ title: "", text: "Enter the Division Name", icon: "error" });
            }
            else {
                clsDivision.Division = $("#txtDivisionName").val();
                clsDivision.CreatedBy = sessionStorage.getItem("LogInID");
                $.ajax({
                    type: "POST",
                    url: "/MasterEntry/Fn_Add_New_Division",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(clsDivision),
                    success: function (data) {
                        var obj = JSON.parse(data.message);
                        if (obj.vErrorMsg == "Success") {
                            Swal.fire({ title: "", text: "Division record has been added successfully", icon: "success" });
                            Fn_ResetFields();
                        }
                        else {
                            Swal.fire({ title: "", text: "Failed to Add Division Master Record", icon: "error" });
                        }
                    },
                    error: function (err) {
                        alert(err);
                    }
                });
            }
        }



        function Fn_ResetFields() {
            $("#txtDivisionName").val("");
        }

    </script>
}

<section id="main-content">
    <section class="wrapper">
        <div class="row page-titles mx-0">
            <span><a href="javascript:void(0);"><i class="fa fa-home"></i> Master</a></span>
            <span><a href="javascript:void(0);"><i>></i> Add Division</a></span>
        </div>

        <div class="row" style="margin-top: 1%;">
            <div class="col-xl-12 col-xxl-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">Division Name</label>
                                    <input type="text" id="txtDivisionName" name="txtDivisionName" class="form-control" />
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <button type="submit" id="btnDivisionSubmit" name="btnDivisionSubmit" class="btn btn-primary pull-right" onclick="Fn_Add_New_Division();">Submit</button>
                                <button type="submit" id="btnReset" name="btnReset" class="btn btn-success pull-right" onclick="Fn_ResetFields();" style="margin-right: 0.5%;">Reset</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</section>