
@{
    ViewBag.Title = "AddNewLine";
}

@*<h2>AddNewLine</h2>*@

<section id="main-content">
    <section class="wrapper">
        <div class="row page-titles mx-0">
            <span><a href="javascript:void(0);"><i class="fa fa-home"></i> <b>Home</b></a></span>
            <span><a href="javascript:void(0);"><i>></i> <b>Master</b></a></span>
            <span><a href="javascript:void(0);"><i>></i> <b>Add New Line</b></a></span>
        </div>

        <div class="row" style="margin-top: 1%;">
            <div class="col-xl-12 col-xxl-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label"><b>Select Division</b></label>
                                    <select class="form-control" id="ddlDivision" name="ddlDivision">
                                        <option value="0">--Select--</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label"><b>Select Section</b></label>
                                    <select class="form-control" id="ddlSection" name="ddlSection">
                                        <option value="0">--Select--</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label"><b>Line Code</b></label>
                                    <input type="text" id="txtLineCode" name="txtLineCode" class="form-control" />
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label"><b>Seq No</b></label>
                                    <input type="text" id="txtSeqNo" name="txtSeqNo" class="form-control" />
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label"><b>Name</b></label>
                                    <input type="text" id="txtName" name="txtName" class="form-control" />
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label"><b>Super Visor</b></label>
                                    <input type="text" id="txtSupervisor" name="txtSupervisor" class="form-control" />
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label"><b>Super Market Code</b></label>
                                    <input type="text" id="txtSuperMarketcode" name="txtSuperMarketcode" class="form-control" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</section>