
@{
    ViewBag.Title = "EditCustomerDetails";
}


<section id="main-content">
    <section class="wrapper">
        <div class="row page-titles mx-0">
            <span><a href="javascript:void(0);"><i class="fa fa-home"></i> <b>Home</b></a></span>
            <span><a href="javascript:void(0);"><i>></i> <b>Master</b></a></span>
            <span><a href="javascript:void(0);"><i>></i> <b>Edit Customer Details</b></a></span>
        </div>

        <div class="row" style="margin-top: 1%;">
            <div class="col-xl-12 col-xxl-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label"><b>Name</b></label>
                                    <input type="text" id="txtName" name="txtName" class="form-control" />
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label"><b>Code</b></label>
                                    <input type="text" id="txtCode" name="txtCode" class="form-control" />
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label"><b>Address</b></label>
                                    <input type="text" id="txtAddress" name="txtAddress" class="form-control" />
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label"><b>Contact</b></label>
                                    <input type="text" id="txtContactNo" name="txtContactNo" class="form-control" />
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <button type="submit" id="btnUpdateCustomer" name="btnUpdateCustomer" class="btn btn-primary pull-right" onclick="">Update</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</section>
