
@{
    ViewBag.Title = "EditDivisionDetails";
}

@{ 

    <script type="text/javascript">

        $(document).ready(function () {

            const urlParams = new URLSearchParams(window.location.search);
            const DivId = urlParams.get('ID');
            if (DivId != null || DivId != "") {
                Fn_Fetch_DivisionDetails_By_DivID(DivId);
            }

        });


        function Fn_Fetch_DivisionDetails_By_DivID(DivId) {

            var clsDivision = {};
            clsDivision.ID = DivId;

            $.ajax({
                type: "POST",
                url: "/MasterEntry/Fn_Get_All_Division",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                data: JSON.stringify(clsDivision),
                success: function (data) {
                    var obj = JSON.parse(data.message);
                    if (obj[0].vErrorMsg == "Success") {
                        $("#txtDivisionName").val(obj[0].Division);
                    }
                },
                error: function (err) {
                    alert(err);
                }
            });
        }


        function Fn_Update_DivisionDetails_By_DivID() {

            var clsDivision = {};
            const urlParams = new URLSearchParams(window.location.search);
            const DivId = urlParams.get('ID');

            if ($("#txtDivisionName").val() == "") {
                Swal.fire({ title: "", text: "Division name should not be empty", icon: "error" });
            }
            else {
                clsDivision.ID = DivId;
                clsDivision.Division = $("#txtDivisionName").val();
                clsDivision.ModifiedBy = sessionStorage.getItem("LogInID");

                $.ajax({
                    type: "POST",
                    url: "/MasterEntry/Fn_Update_DivisionDetails_By_DivID",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(clsDivision),
                    success: function (data) {
                        var obj = JSON.parse(data.message);
                        if (obj.vErrorMsg == "Success") {
                            Swal.fire({ title: "", text: "Division details has been updated successfully.", icon: "success" });
                            //Fn_Fetch_DivisionDetails_By_DivID();
                            window.location.href = "/MasterEntry/ViewDivisionList";
                        }
                        else {
                            Swal.fire({ title: "", text: clsDivision.vErrorMsg, icon: "error" });
                        }
                    },
                    error: function (err) {
                        alert(err);
                    }
                });
            }
        }


    </script>

}

<section id="main-content">
    <section class="wrapper">
        <div class="row page-titles mx-0">
            <span><a href="javascript:void(0);"><i class="fa fa-home"></i> <b>Home</b></a></span>
            <span><a href="javascript:void(0);"><i>></i> <b>Master</b></a></span>
            <span><a href="javascript:void(0);"><i>></i> <b>Edit Division Details</b></a></span>
        </div>

        <div class="row" style="margin-top:1%;">
            <div class="col-xl-12 col-xxl-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">

                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">Division Name</label>
                                    <input type="text" id="txtDivisionName" name="txtDivisionName" class="form-control" />
                                </div>
                            </div>

                            <div class="col-sm-12">
                                <button type="submit" id="btnUpdateDivision" name="btnUpdateDivision" class="btn btn-primary pull-right" onclick="Fn_Update_DivisionDetails_By_DivID();">Update</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</section>
