
@{
    ViewBag.Title = "Worker";
}

@{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>

    <link href="~/web/css/select2.min.css" rel="stylesheet" />
    <script type="text/javascript">

        $(document).ready(function () {

            $("#dvAddWorker").hide();
            $("#dvViewWorker").show();
            $("#spnHeading").html("View Operator");

            $("#spnView").hide();
            $("#spnAdd").show();
            Fn_Get_Worker(0, "No");

            Fn_AutoComplete_Textbox("txtCode", "EmployeeMaster", "EmpId"); $("#txtPermanentSection").val();
            Fn_AutoComplete_Textbox("txtPermanentSection", "SectionMaster", "SectionName");

            $("#txtDOJ").datepicker({
                dateFormat: "dd-M-yy"
            });

            $("#txtDOJ").datepicker("setDate", new Date());
           
        });



        /////////////////////////////////////////////////

        function Fn_AutoComplete_Textbox(txtName, strTBLName, strFieldName) {
            var clsRequestDropdown = {};
            clsRequestDropdown.vFieldName = strFieldName;
            clsRequestDropdown.vTBLName = strTBLName;

            $("#" + txtName).autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/Production/Fn_AutoComplete_Textbox',
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term, strTBLName: strTBLName, strFieldName: strFieldName },
                        success: function (data) {
                            var obj = JSON.parse(data.message)
                            response($.map(obj, function (item) {
                                return { label: item.SearchKeyword, value: item.SearchKeyword };
                            }));
                        }
                    });
                },
                select: function (event, ui) {
                    var str = ui.item.value;
                }
            });
        }


        function Fn_Insert_New_Worker() {

            var clsWorker = {};

            var strMSG = "";
            if ($('#btnSubmit').val() == "Submit") {
                strMSG = "Worker saved successfully";
            }
            else {
                strMSG = "Worker updated successfully";
                clsWorker.ID = $("#hdnID").val();
            }

            clsWorker.Code = $("#txtCode").val();
            clsWorker.Name = $("#txtName").val();
            clsWorker.FatherName = $("#txtFatherName").val();
            clsWorker.Gender = $("#ddlGender").val();
            clsWorker.Grade = $("#txtGrade").val();
            clsWorker.Shift = $("#txtShift").val();
            clsWorker.Pin = $("#txtPin").val();
            clsWorker.OperatorType = $("#txtOperatorType").val();
            clsWorker.Mobile = $("#txtMobile").val();
            clsWorker.Contractor = $("#txtContractor").val();
            clsWorker.PayRoll = $("#ddlPayRoll").val();

            if ($('#chkIsTrainee').is(':checked')) {
                clsWorker.IsTrainee = true;
            } else {
                clsWorker.IsTrainee = false;
            }

            if ($('#chkIsTemporary').is(':checked')) {
                clsWorker.IsTemporary = true;
            } else {
                clsWorker.IsTemporary = false;
            }

            clsWorker.PermanentSection = $("#txtPermanentSection").val();
            clsWorker.DOJ = $("#txtDOJ").val();
            clsWorker.CreatedBy = sessionStorage.getItem("LogInID");



            if (clsWorker.Code == "") {
                Swal.fire({ title: "", text: "Please Enter Code", icon: "error" });
            }
            else if (clsWorker.Name == "") {
                Swal.fire({ title: "", text: "Please Enter Name", icon: "error" });
            }
            else if (clsWorker.FatherName == "") {
                Swal.fire({ title: "", text: "Please Enter Father Name", icon: "error" });
            }
            else if (clsWorker.Gender == "") {
                Swal.fire({ title: "", text: "Please Select Gender", icon: "error" });
            }
            else if (clsWorker.Grade == "") {
                Swal.fire({ title: "", text: "Please Enter Grade", icon: "error" });
            }
            else if (clsWorker.Shift == "") {
                Swal.fire({ title: "", text: "Please Enter Shift", icon: "error" });
            }
            else if (clsWorker.Pin == "") {
                Swal.fire({ title: "", text: "Please Enter Pin", icon: "error" });
            }
            else if (clsWorker.OperatorType == "") {
                Swal.fire({ title: "", text: "Please Select Operator Type", icon: "error" });
            }
            else if (clsWorker.Mobile == "") {
                Swal.fire({ title: "", text: "Please Enter Mobile", icon: "error" });
            }
            else if (clsWorker.PayRoll == "") {
                Swal.fire({ title: "", text: "Please Select PayRoll", icon: "error" });
            }
            else if (clsWorker.PermanentSection == "") {
                Swal.fire({ title: "", text: "Please Enter PermanentSection", icon: "error" });
            }

            else {
                $.ajax({
                    type: "POST",
                    url: '/MasterEntry/Fn_Insert_New_Worker',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(clsWorker),
                    beforeSend: function () {
                        $('#btnSubmit').attr('disabled', 'disabled');
                    },
                    success: function (data) {
                        var obj = JSON.parse(data.message);
                        if (obj.vErrorMsg == "Success") {
                            Swal.fire({ title: "", text: strMSG, icon: "success" });
                            Fn_Reset_Control();
                            $('#btnSubmit').val("Submit");
                            $("#dvAddWorker").hide();
                            $("#dvViewWorker").show();
                            $("#spnHeading").html("View Operator");

                            $("#spnView").hide();
                            $("#spnAdd").show();
                            Fn_Get_Worker(0, "No");
                        }
                        else {
                            Swal.fire({ title: "", text: obj.vErrorMsg, icon: "error" });
                        }

                    },
                    complete: function (data) {
                        $('#btnSubmit').removeAttr('disabled');
                    },
                    error: function (err) {
                        // alert(err);
                        Swal.fire({ title: "", text: err, icon: "error" });
                    }
                });
            }
        }

        function Fn_Reset_Control() {
            $("#txtCode").val("");
            $("#txtName").val("");
            $("#txtFatherName").val("");
            $("#ddlGender").val("0");
            $("#txtGrade").val("");
            $("#txtShift").val("");
            $("#txtPin").val("");
            $("#txtOperatorType").val("");
            $("#txtMobile").val("");
            $("#txtContractor").val("");
            $("#ddlPayRoll").val("0");
            $("#chkIsTrainee").prop('checked', false);
            $("#chkIsTemporary").prop('checked', false);
            $("#txtPermanentSection").val("");
            $("#txtDOJ").val("");
            $("#hdnID").val();

            $("#btnSubmit").val("");
            $("#btnSubmit").val("Submit");
        }

        function Show_dvViewWorker() {

            $("#dvAddWorker").hide();
            $("#dvViewWorker").show();
            $("#spnHeading").html("View Operator");

            $("#spnView").hide();
            $("#spnAdd").show();
            Fn_Get_Worker(0, "No");
        }

        function Fn_Show_dvAddWorker() {

            $("#dvAddWorker").show();
            $("#dvViewWorker").hide();
            $("#spnHeading").html("Add New Operator");
            $("#spnView").show();
            $("#spnAdd").hide();
        }


        function Fn_Get_Worker(id, edit) {

            var clsWorker = {};
            clsWorker.CreatedBy = sessionStorage.getItem("LogInID");
            if (edit == "Yes") {
                clsWorker.ID = id;
            }

            $("#dvWorkerRow").html('');
            var html = '';

            $.ajax({
                type: "POST",
                url: "/MasterEntry/Fn_Get_Worker",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(clsWorker),
                success: function (data) {
                    var obj = JSON.parse(data.message);
                    if (obj[0].vErrorMsg == "Success") {
                        if (edit == "Yes") {

                            $("#hdnID").val(obj[0].ID);
                            $("#txtCode").val(obj[0].Code);
                            $("#txtName").val(obj[0].Name);
                            $("#txtFatherName").val(obj[0].FatherName);
                            $("#ddlGender").val(obj[0].Gender);
                            $("#txtGrade").val(obj[0].Grade);
                            $("#txtShift").val(obj[0].Shift);
                            $("#txtPin").val(obj[0].Pin);
                            $("#txtOperatorType").val(obj[0].OperatorType);
                            $("#txtMobile").val(obj[0].Mobile);
                            $("#txtContractor").val(obj[0].Mobile);
                            $("#ddlPayRoll").val(obj[0].PayRoll);

                            if (obj[0].IsTrainee == true) {
                                $("#chkIsTrainee").prop('checked', true);
                            } else {
                                $("#chkIsTrainee").prop('checked', false);
                            }


                            if (obj[0].IsTemporary == true) {
                                $("#chkIsTemporary").prop('checked', true);
                            } else {
                                $("#chkIsTemporary").prop('checked', false);
                            }


                            $("#txtPermanentSection").val(obj[0].PermanentSection);
                            // $("#txtDOJ").val(obj[0].DOJ);

                            $("#dvAddWorker").show();
                            $("#dvViewWorker").hide();
                        }
                        else {
                            for (var i = 0; i < obj.length; i++) {
                                html += "<div class='col-sm-3'>";
                                html += "<div class='card'>";
                                html += "<div class='card-header' style='border-bottom: 1px solid #797979; margin-bottom: 5px'>";
                                html += "<span style='font-weight: 800;'>" + obj[i].Code + "</span>";
                                html += "</div>";
                                html += "<div class='card-body'>";
                                html += "<table>";
                                html += "<tr>";
                                html += "<tr><td>Name :" + obj[i].Name + "</td></tr>";
                                html += "<tr><td>Father :" + obj[i].FatherName + "</td></tr>";
                                html += "<tr><td>Grade :" + obj[i].Grade + "</td></tr>";
                                html += "<tr><td>Shift :" + obj[i].Shift + "</td></tr>";
                                html += "<tr><td>Type :" + obj[i].OperatorType + "</td></tr>";
                                html += "<tr><td>Section :" + obj[i].PermanentSection + "</td></tr>";
                                html += "<tr><td>Pin :" + obj[i].Pin + "</td></tr>";
                                html += "<tr><td>Mobile :" + obj[i].Mobile + "</td></tr>";
                                html += "<tr><td>PayRoll :" + obj[i].PayRoll + "</td></tr>";
                                // html += "<td>" + obj[i].DOJ + "</td>";
                                html += "</table>";
                                html += "</div>";
                                html += "<div class='card-footer' style='border-top: 1px solid #797979; margin-top: 5px'>";
                                html += "<table style='margin-top: 5px'>";
                                html += "<tr><td colspan='2'>";
                                html += "<a href='javascript: void (0);' class='btn btn-xs btn-info'><i class='fa fa-edit' onclick='Fn_Edit_Worker(" + obj[i].ID + ")'></i></a>";
                                html += "&nbsp;&nbsp;<a href='javascript: void (0);' class='btn btn-xs sharp btn-danger disable'><i class='fa fa-trash' onclick=\"Fn_Delete_Worker('" + obj[i].ID + "')\"></i></a>";
                                html += "&nbsp;&nbsp;<a href='javascript: void (0);' class='btn btn-xs btn-primary'><i class='fa fa-qrcode' onclick='Fn_Make_Worker_QRCode(" + obj[i].ID + ")' data-toggle='modal' data-target='#SeasonModal'></i></a>";
                                html += "</td></tr></table>";
                                html += "</div>";
                                html += "</div>";
                                html += "</div>";
                            }
                        }
                    }
                    else {
                        html += "<h4 class='text-center'>" + obj[0].vErrorMsg + "</h4>";

                    }
                    $("#dvWorkerRow").append(html);

                },
                error: function (err) {
                    Swal.fire({ title: "", text: err, icon: "error" });

                }
            });
        }

        function Fn_Edit_Worker(id) {
            var strID = id;
            var edit = "Yes";
            $("#btnSubmit").val("");
            $("#btnSubmit").val("Update");
            $("#dvAddWorker").show();
            $("#dvViewWorker").hide();
            $("#spnHeading").html("Update Operator");
            $("#spnView").show();
            $("#spnAdd").hide();

            Fn_Get_Worker(strID, edit);
        }

        function Fn_Make_Worker_QRCode(id) {

            var clsWorker = {};
            clsWorker.CreatedBy = sessionStorage.getItem("LogInID");
            clsWorker.ID = id;
            //$('#QRRow').html('');
            //var html = '';
            $.ajax({
                type: "POST",
                url: "/MasterEntry/Fn_Get_Worker",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(clsWorker),
                success: function (data) {
                    var obj = JSON.parse(data.message);
                    if (obj[0].vErrorMsg == "Success") {

                        //for (var i = 0; i < obj.length; i++) {
                        //    html += "<div class='card'>";
                        //    html += "    <div class='col-sm-2'></div>";
                        //    html += "    <div class='col-sm-4'>";
                        //    html += "        <p>Name: " + obj[i].Name + "</p>";
                        //    html += "        <div id='qrcode-container_" + i + "'></div>";
                        //    html += "    </div>";
                        //    html += "    <div class='col-sm-4'>";
                        //    html += "        <p>Father: " + obj[i].FatherName + "</p>";
                        //    html += "        <p>Code: " + obj[i].Code + "</p>";
                        //    html += "        <p>Grade: " + obj[i].Grade + "</p>";
                        //    html += "        <p>Shift: " + obj[i].Shift +"</p>";
                        //    html += "        <p>Type: " + obj[i].OperatorType + "</p>";
                        //    html += "    </div>";
                        //    html += "    <div class='col-sm-2'></div>";
                        //    html += "</div>";

                        //    var text = "Login-" + obj[i].Pin;

                        //    var qrcode = new QRCode(document.getElementById("qrcode-container_" + i), {
                        //        width: 150,
                        //        height: 150,
                        //        margin: 2
                        //    });
                        //    qrcode.makeCode(text);
                            
                        //}

                        $('#qrcode-container').html('')
                        $("#spnCode").html("Code: " + obj[0].Code);
                        $("#spnName").html(obj[0].Name);
                        $("#spnFather").html(obj[0].FatherName);
                        $("#spnGrade").html("Grade: " + obj[0].Grade);
                        $("#spnShift").html("Shift: " + obj[0].Shift);
                        $("#spnType").html("Type: " + obj[0].OperatorType);

                        var text = "Login-" + obj[0].Pin;

                        var qrcode = new QRCode(document.getElementById("qrcode-container"), {
                            width: 150,
                            height: 150,
                            margin: 2
                        });
                        qrcode.makeCode(text);
                        
                    }
                    else {
                        html += "<h4 class='text-center'>" + obj[0].vErrorMsg + "</h4>";
                    }
                   /* $('#QRRow').append(html);*/
                },
                error: function (err) {
                    Swal.fire({ title: "", text: err, icon: "error" });

                }
            });
        }

        function printSingleQR(divId) {
            var printContents = document.getElementById(divId).innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;

            window.print();

            document.body.innerHTML = originalContents;
        }

        function Fn_Delete_Worker(Id) {
            Swal.fire({ title: "", text: 'you are not authorized.', icon: "error" });
        }

    </script>


}

<section id="main-content">
    <section class="wrapper">
        <div class="row page-titles mx-0">
            <div class="col-sm-8"><span><a href="@Url.Action("Dashboard", "Home")"><i class="fa fa-home"></i> Dashboard</a> </span> > <span id="spnHeading">View Operator</span></div>

            <div class="col-sm-4">
                <span id="spnView"><i class="btn btn-primary btn-xs pull-right fa fa-eye" onclick="Show_dvViewWorker();"></i></span>
                <span id="spnAdd" style="display: none;"><i class="btn btn-primary btn-xs pull-right fa fa-plus-circle" onclick="Fn_Show_dvAddWorker();"></i></span>
            </div>

        </div>

        <div class="row" style="margin-top: 1%; display: none;" id="dvAddWorker">
            <div class="col-xl-12 col-xxl-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="form-label">Code</label>
                                    <input type="text" id="txtCode" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="form-label">Name</label>
                                    <input type="text" id="txtName" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="form-label">Father Name</label>
                                    <input type="text" id="txtFatherName" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="form-label">Gender</label>
                                    <select id="ddlGender" class="form-control">
                                        <option value="0">--Select Gender--</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="form-label">Grade</label>
                                    <input type="text" id="txtGrade" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="form-label">Shift</label>
                                    <input type="text" id="txtShift" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="form-label">Pin</label>
                                    <input type="text" id="txtPin" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="form-label">Operator Type</label>
                                    <input type="text" id="txtOperatorType" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">


                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="form-label">Mobile</label>
                                    <input type="text" id="txtMobile" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="form-label">Contractor</label>
                                    <input type="text" id="txtContractor" class="form-control" />
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="form-label">Pay Roll</label>
                                    <select id="ddlPayRoll" class="form-control">
                                        <option value="0">-Select Pay Roll-</option>
                                        <option value="NA">Company Roll</option>
                                        <option value="NORMAL">Piece Rate</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group" style="margin-top: 20px;">
                                    <input type="checkbox" id="chkIsTrainee" value="Is Trainee" /> Is Trainee
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-3">
                                <div class="form-group" style="margin-top: 20px;">
                                    <input type="checkbox" id="chkIsTemporary" value="Is Temporary" /> Is Temporary
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="form-label">Permanent Section</label><br />
                                    <input type="text" id="txtPermanentSection" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="form-label">DOJ</label>
                                    <input type="text" id="txtDOJ" value="" class="form-control" />
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <input type="submit" class="btn btn-danger pull-right" id="btnReset" value="Reset" onclick="Fn_Reset_Control();" />
                                <input type="submit" class="btn btn-primary pull-right" id="btnSubmit" value="Submit" onclick="Fn_Insert_New_Worker();" />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 1%; display: none;" id="dvViewWorker">
            <div class="col-xl-12 col-xxl-12 col-sm-12" id="dvWorkerRow">


            </div>
        </div>

    </section>
</section>
<input type="hidden" id="hdnID" value="" />

<!-- Season -->
<div id="SeasonModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div class="row">
                    <div class="col-sm-10">
                        <h4 class="modal-title">Print Operator QR</h4>
                    </div>
                    <div class="col-sm-2">
                        <button type="button" class="close" style="color:#fff;" data-dismiss="modal">&times;</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
               
                <div class="row" id="printableArea">
                    <div class="card">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-4">
                            <p id="spnName"></p>
                            <div id="qrcode-container"></div>

                        </div>
                        <div class="col-sm-4">
                            <p id="spnFather"></p>
                            <p id="spnCode"></p>
                            <p id="spnGrade"></p>
                            <p id="spnShift"></p>
                            <p id="spnType"></p>
                        </div>

                        <div class="col-sm-2"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button onclick="printSingleQR('printableArea')" class="btn btn-light" type="button"> <i class="fa fa-print"></i> Print </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<!--End Season -->
<!-- Load jQuery and the QRCode.js library -->
<script src="https://code.jquery.com"></script>
<script src="https://cdn.jsdelivr.net/gh/davidshimjs/qrcodejs/qrcode.min.js"></script>
