
@{
    ViewBag.Title = "Worker";
}

@{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>

    <link href="~/web/css/select2.min.css" rel="stylesheet" />
    <script type="text/javascript">

        $(document).ready(function () {

            Fn_AutoComplete_Textbox("txtCode", "EmployeeMaster", "EmpId"); $("#txtPermanentSection").val();
            Fn_AutoComplete_Textbox("txtPermanentSection", "SectionMaster", "SectionName");

            $("#txtDOJ").datepicker({
                dateFormat: "dd-M-yy"
            });

            $("#txtDOJ").datepicker("setDate", new Date());

        });
        

        /////////////////////////////////////////////////

        function Fn_AutoComplete_Textbox(txtName, strTBLName, strFieldName) {
            var clsRequestDropdown = {};
            clsRequestDropdown.vFieldName = strFieldName;
            clsRequestDropdown.vTBLName = strTBLName;

            $("#" + txtName).autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/Production/Fn_AutoComplete_Textbox',
                        type: "POST",
                        dataType: "json",
                        data: { Prefix: request.term, strTBLName: strTBLName, strFieldName: strFieldName },
                        success: function (data) {
                            var obj = JSON.parse(data.message)
                            response($.map(obj, function (item) {
                                return { label: item.SearchKeyword, value: item.SearchKeyword };
                            }));
                        }
                    });
                },
                select: function (event, ui) {
                    var str = ui.item.value;
                }
            });
        }


        function Fn_Insert_New_Worker() {

            var strMSG = "";
            if ($('#btnSubmit').val() == "Submit") {
                strMSG = "Worker saved successfully"
            }
            else {
                strMSG = "Worker updated successfully"
            }

            var clsWorker = {};

            clsWorker.Code = $("#txtCode").val();
            clsWorker.Name = $("#txtName").val();
            clsWorker.FatherName = $("#txtFatherName").val();
            clsWorker.Gender = $("#ddlGender").val();
            clsWorker.Grade = $("#txtGrade").val();
            clsWorker.Shift = $("#txtShift").val();
            clsWorker.Pin = $("#txtPin").val();
            clsWorker.OperatorType = $("#txtOperatorType").val();
            clsWorker.Mobile = $("#txtMobile").val();
            clsWorker.Contractor = $("#txtContractor").val();
            clsWorker.PayRoll = $("#ddlPayRoll").val();
            clsWorker.IsTrainee = $("#chkIsTrainee").val();
            clsWorker.IsTemporary = $("#chkIsTemporary").val();
            clsWorker.PermanentSection = $("#txtPermanentSection").val();
            clsWorker.DOJ = $("#txtDOJ").val();
            clsWorker.CreatedBy = sessionStorage.getItem("LogInID");

           

            if (clsWorker.Code == "") {
                Swal.fire({ title: "", text: "Please Enter Code", icon: "error" });
            }
            else if (clsWorker.Name == "") {
                Swal.fire({ title: "", text: "Please Enter Name", icon: "error" });
            }
            else if (clsWorker.FatherName == "") {
                Swal.fire({ title: "", text: "Please Enter Father Name", icon: "error" });
            }
            else if (clsWorker.Gender == "") {
                Swal.fire({ title: "", text: "Please Select Gender", icon: "error" });
            }
            else if (clsWorker.Grade == "") {
                Swal.fire({ title: "", text: "Please Enter Grade", icon: "error" });
            }
            else if (clsWorker.Shift == "") {
                Swal.fire({ title: "", text: "Please Enter Shift", icon: "error" });
            }
            else if (clsWorker.Pin == "") {
                Swal.fire({ title: "", text: "Please Enter Pin", icon: "error" });
            }
            else if (clsWorker.OperatorType == "") {
                Swal.fire({ title: "", text: "Please Select Operator Type", icon: "error" });
            }
            else if (clsWorker.Mobile == "") {
                Swal.fire({ title: "", text: "Please Enter Mobile", icon: "error" });
            }
            else if (clsWorker.PayRoll == "") {
                Swal.fire({ title: "", text: "Please Select PayRoll", icon: "error" });
            }
            else if (clsWorker.PermanentSection == "") {
                Swal.fire({ title: "", text: "Please Enter PermanentSection", icon: "error" });
            }
            
            else {
                $.ajax({
                    type: "POST",
                    url: '/MasterEntry/Fn_Insert_New_Worker',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    data: JSON.stringify(clsWorker),
                    beforeSend: function () {
                        $('#btnSubmit').attr('disabled', 'disabled');
                    },
                    success: function (data) {
                        var obj = JSON.parse(data.message);
                        if (obj.vErrorMsg == "Success") {
                            Swal.fire({ title: "", text: strMSG, icon: "success" });
                            Fn_Reset_Control();
                            $('#btnSubmit').val("Submit");
                        }
                        else {
                            Swal.fire({ title: "", text: obj.vErrorMsg, icon: "error" });
                        }

                    },
                    complete: function (data) {
                        $('#btnSubmit').removeAttr('disabled');
                    },
                    error: function (err) {
                        // alert(err);
                        Swal.fire({ title: "", text: err, icon: "error" });
                    }
                });
            }
        }

        function Fn_Reset_Control() {
            $("#txtCode").val("");
            $("#txtName").val("");
            $("#txtFatherName").val("");
            $("#ddlGender").val("0");
            $("#txtGrade").val("");
            $("#txtShift").val("");
            $("#txtPin").val("");
            $("#txtOperatorType").val("");
            $("#txtMobile").val("");
            $("#txtContractor").val("");
            $("#ddlPayRoll").val("0");
            $("#chkIsTrainee").prop('checked', false);
            $("#chkIsTemporary").prop('checked', false);
            $("#txtPermanentSection").val("");
            $("#txtDOJ").val("");

            $("#btnSubmit").val("");
            $("#btnSubmit").val("Submit");
        }

        function Show_dvViewWorker() {

            $("#dvAddWorker").hide();
            $("#dvViewWorker").show();
            $("#spnHeading").html("View Operator");
            Fn_Get_Worker(0, "No");
        }

        function Fn_Show_dvAddWorker() {

            $("#dvAddWorker").show();
            $("#dvViewWorker").hide();
            $("#spnHeading").html("Add New Operator");
        }
        

        function Fn_Get_Worker(id, edit) {

            var clsWorker = {};
            clsWorker.CreatedBy = sessionStorage.getItem("LogInID");
            if (edit == "Yes") {
                clsWorker.ID = id;
            }

            $("#tbodyWorker").html('');
            var html = '';

            $.ajax({
                type: "POST",
                url: "/MasterEntry/Fn_Get_Worker",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(clsWorker),
                success: function (data) {
                    var obj = JSON.parse(data.message);
                    if (obj[0].vErrorMsg == "Success") {
                        if (edit == "Yes") {
                            //$("#txtCustomerID").val(obj[0].ID);
                            //$("#txtCustomerName").val(obj[0].vName);
                            //$("#txtCodeNo").val(obj[0].CodeNo);
                            //$("#txtAddress").val(obj[0].vAddress);
                            //$("#txtContact").val(obj[0].vContact);
                        }
                        else {
                            for (var i = 0; i < obj.length; i++) {
                                html += "<tr>";
                                html += "<td>" + obj[i].Code + "</td>";
                                html += "<td>" + obj[i].Name + "</td>";
                                html += "<td>" + obj[i].FatherName + "</td>";
                                html += "<td>" + obj[i].Grade + "</td>";
                                html += "<td>" + obj[i].Shift + "</td>";
                                html += "<td>" + obj[i].OperatorType + "</td>";
                                html += "<td>" + obj[i].PermanentSection + "</td>";
                                html += "<td>" + obj[i].Pin + "</td>";
                                html += "<td>" + obj[i].Mobile + "</td>";
                                html += "<td>" + obj[i].PayRoll + "</td>";
                               // html += "<td>" + obj[i].DOJ + "</td>";
                                html += "<td><a href='javascript: void (0);' class='btn btn-xs sharp btn-info edit'><i class='fa fa-edit' onclick='Fn_Edit_Worker(" + obj[i].ID + ")'></i></a></td>";
                                html += "</tr>";
                            }
                        }
                    }
                    else {
                        html += "<tr><td colspan='11' class='text-center'>" + obj[0].vErrorMsg + "</td></tr>";

                    }
                    $("#tbodyWorker").append(html);

                },
                error: function (err) {
                    Swal.fire({ title: "", text: err, icon: "error" });

                }
            });
        }

    </script>


}

<section id="main-content">
    <section class="wrapper">
        <div class="row page-titles mx-0">
            <div class="col-sm-8"><span><a href="@Url.Action("Dashboard", "Home")"><i class="fa fa-home"></i> Dashboard</a> </span> > <span id="spnHeading">View Operator</span></div>

            <div class="col-sm-4">
                <span id="spnView"><i class="btn btn-primary btn-xs pull-right fa fa-eye" onclick="Show_dvViewWorker();"></i></span>
                <span id="spnAdd" style="display: none;"><i class="btn btn-primary btn-xs pull-right fa fa-plus-circle" onclick="Fn_Show_dvAddWorker();"></i></span>
            </div>

        </div>

        <div class="row" style="margin-top: 1%; display: none;" id="dvAddWorker">
            <div class="col-xl-12 col-xxl-12 col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="form-label">Code</label>
                                    <input type="text" id="txtCode" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="form-label">Name</label>
                                    <input type="text" id="txtName" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="form-label">Father Name</label>
                                    <input type="text" id="txtFatherName" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="form-label">Gender</label>
                                    <select id="ddlGender" class="form-control">
                                        <option value="0">--Select Gender--</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="form-label">Grade</label>
                                    <input type="text" id="txtGrade" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="form-label">Shift</label>
                                    <input type="text" id="txtShift" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="form-label">Pin</label>
                                    <input type="text" id="txtPin" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="form-label">Operator Type</label>
                                    <input type="text" id="txtOperatorType" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">


                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="form-label">Mobile</label>
                                    <input type="text" id="txtMobile" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="form-label">Contractor</label>
                                    <input type="text" id="txtContractor" class="form-control" />
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="form-label">Pay Roll</label>
                                    <select id="ddlPayRoll" class="form-control">
                                        <option value="0">-Select Pay Roll-</option>
                                        <option value="NA">Company Roll</option>
                                        <option value="NORMAL">Piece Rate</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group" style="margin-top: 20px;">
                                    <input type="checkbox" id="chkIsTrainee" value="Is Trainee" /> Is Trainee
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            
                            <div class="col-sm-3">
                                <div class="form-group" style="margin-top: 20px;">
                                    <input type="checkbox" id="chkIsTemporary" value="Is Temporary" /> Is Temporary
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="form-label">Permanent Section</label><br />
                                    <input type="text" id="txtPermanentSection" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="form-label">DOJ</label>
                                    <input type="text" id="txtDOJ" value="" class="form-control" />
                                </div>
                            </div>
                        </div>
                        

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <input type="submit" class="btn btn-danger pull-right" id="btnReset" value="Reset" onclick="Fn_Reset_Control();" />
                                <input type="submit" class="btn btn-primary pull-right" id="btnSubmit" value="Submit" onclick="Fn_Insert_New_Worker();" />

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 1%; display: none;" id="dvViewWorker">
            <div class="col-xl-12 col-xxl-12 col-sm-12">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-responsive text-nowrap">
                            <thead>
                                <tr style="background-color: #E1C16E; background-image: linear-gradient(to bottom, #722F37, #DB5A6A); color: white;">
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Father</th>
                                    <th>Grade</th>
                                    <th>Shift</th>
                                    <th>Type</th>
                                    <th>Section</th>
                                    <th>PIN</th>
                                    <th>Mobile</th>
                                    <th>Pay Roll</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyWorker">
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </section>
</section>

